
@{
    ViewData["Title"] = "DieukienvaDieukhoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">Các Điều khoản và Điều kiện</li>
    </ul>
    <hr class="soft" />
    <div class="hnc-static-container">
        <h1 class="hnc-static-heading1" style="text-transform:uppercase;">Chính Sách Cho Doanh Nghiệp</h1>
        <p class="hnc-static-text">
            Nhằm đáp ứng tốt hơn nhu cầu của khách hàng và nâng cao chất lượng dịch vụ, Công ty Cổ phần Máy Tính Hà Nội xin gửi tới Quý khách hàng doanh nghiệp <span style="color: #ff0000;"><strong>09 chính sách vàng bán hàng doanh nghiệp</strong><span style="color: #000000;">.</span></span>
        </p>
        <p class="hnc-static-text">1. Giao hàng nhanh trong 2h.</p>
        <p class="hnc-static-text">2. Sản phẩm chính hãng, đầy đủ giấy tờ.</p>
        <p class="hnc-static-text">3. Bảo hành tại nơi sử dụng với <a href="#bao-hanh-vang" class="_mPS2id-h">thẻ bảo hành vàng</a>.</p>
        <p class="hnc-static-text">4. Bảo hành 1 đổi 1 trong 15 ngày đầu.</p>
        <p class="hnc-static-text">5. Điều khoản thanh toán linh hoạt.</p>
        <p class="hnc-static-text">6. Danh mục hàng hóa phong phú.</p>
        <p class="hnc-static-text">7. Miễn phí vận chuyển và lắp đặt.</p>
        <p class="hnc-static-text">8. Dùng thử sản phẩm trong 3 ngày.</p>
        <p class="hnc-static-text">9. Chăm sóc khách hàng từ 8h đến 21h30 hàng ngày.</p>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/12-08-2020/0811-9-ly-do.jpg" alt="Chính sách cho doanh nghiệp của Hanoicomputer">
        <p class="hnc-static-text">Với gần 20 năm kinh nghiệm trong lĩnh vực máy tính và công nghệ thông tin, Công ty Máy tính Hà Nội vinh dự được rất nhiều các cơ quan, đối tác tin tưởng và lựa chọn trong suốt thời gian qua:</p>
        <p class="hnc-static-text">-Tư vấn và lắp đặt hệ thống mạng máy tính cho Viện Khoa học Kỹ thuật Nông nghiệp Việt Nam.</p>
        <p class="hnc-static-text">-Tư vấn và thiết kế, lắp đặt hệ thống máy tính, máy in và mạng cho Nhà xuất bản Phụ nữ Hà Nội.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp và lắp đặt hệ thống mạng cho Trường Đại Học Công nghệ – ĐHQGHN.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp máy tính và thiết bị mạng cho Tổng Công ty Viễn thông Quân Đội.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp máy tính cho dự án Đào tạo Giáo viên THCS – Bộ Giáo dục và Đào tạo.</p>
        <p class="hnc-static-text">–&nbsp;Là một trong sáu thành viên của Dự án G6 cung cấp máy tính giá ưu đãi cho học sinh, sinh viên.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp máy tính và thiết bị mạng cho Tòa Án Nhân Dân tỉnh Sơn La.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp máy tính và thiết bị mạng cho Văn phòng Trung ương hội Nông dân Việt Nam.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp máy tính và thiết bị mạng cho Công ty Ô tô Toyota Việt Nam.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp máy tính và thiết bị mạng cho Học viện công nghệ Bưu chính Viễn Thông.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp máy tính cho Trường Đại học Bách khoa Hà Nội.</p>
        <p class="hnc-static-text">–&nbsp;Cung cấp máy chiều, máy tính để bàn, phần mềm quản lý giáo dục cho Phòng Giáo dục và Đào tạo Quận Nam Từ Liêm.</p>
        <p class="hnc-static-text">Mọi thắc mắc quý khách vui lòng liên hệ:</p>
        <p class="hnc-static-text">Ms Đặng Bích Thủy – 098.330.3390 hoặc tổng đài 1900.1903 (máy lẻ: 1)</p>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/chinh-sach-cho-doanh-nghiep-2.jpg" alt="Chính sách cho doanh nghiệp của Hanoicomputer">
        <p class="hnc-static-text">Nhằm đáp ứng tốt hơn nhu cầu của khách hàng và nâng cao chất lượng dịch vụ, HANOICOMPUTER cung cấp với khách hàng chương trình: “Bảo hành vàng đồng hành cùng doanh nghiệp”. Mục đích của chương trình là cung cấp thêm với khách hàng là doanh nghiệp về dịch vụ sau bán hàng nhằm đem lại nhiều lợi ích và sự yên tâm của quý khách hàng khi sử dụng sản phẩm của HANOICOMPUTER.</p>
        <h3 class="hnc-static-heading3">1. SẢN PHẨM ÁP DỤNG:</h3>
        <p class="hnc-static-text">Máy tính nguyên chiếc (laptop, máy tính lắp ráp, máy đồng bộ), máy in, máy chiếu, màn hình lẻ từ 23” trở lên.</p>
        <h3 class="hnc-static-heading3">2. ĐỐI TƯỢNG ÁP DỤNG:</h3>
        <p class="hnc-static-text">Sản phẩm của Quý khách hàng sẽ được bảo hành tại nơi sử dụng nếu thuộc một trong các trường hợp:</p>
        <ul>
            <li>Khách hàng có thẻ bảo hành/ gói bảo hành dịch vụ tại nơi sử dụng của HANOICOMPUTER.</li>
            <li>Khách hàng đăng ký dịch vụ bảo hành tại nơi sử dụng theo yêu cầu phát sinh (có phí hoặc miễn phí theo thỏa thuận).</li>
            <li>Trong hợp đồng mua bán hàng hóa giữa khách hàng và HANOICOMPUTER có điều khoản quy định về trách nhiệm của HANOICOMPUTER bảo hành tại nơi sử dụng với khách hàng.</li>
        </ul>
        <h3 class="hnc-static-heading3">3. NỘI DUNG:</h3>
        <p class="hnc-static-text">Khách hàng là các doanh nghiệp, tổ chức (không áp dụng với khách hàng cá nhân) khi mua máy tính nguyên chiếc (bao gồm: laptop, máy tính lắp ráp, máy đồng bộ, màn hình từ 23” trở lên) tại HANOICOMPUTER được tặng <span style="color: #ff0000;">1 THẺ BẢO HÀNH VÀNG</span> trị giá 399.000đ (bảo hành tại nơi sử dụng) với mỗi sản phẩm.</p>
        <ul>
            <li>Thẻ bảo hành Vàng (TBHV) do HANOICOMPUTER phát hành và thẻ chỉ có giá trị sử dụng khi đi kèm với sản phẩm mà khách hàng mua cùng;</li>
            <li>Thẻ không quy đổi thành tiền và chỉ được cấp một lần với mỗi sản phẩm. HANOICOMPUTER không cấp lại trong trường hợp làm mất, hỏng hoặc hết hạn thẻ.</li>
            <li>Mỗi TBHV có thời hạn sử dụng 12 tháng kể từ ngày cấp. Trong thời hạn đó, khách hàng được sử dụng tối đa 10 lần dịch vụ/Thẻ.</li>
            <li>Khách hàng có TBHV có quyền lựa chọn địa điểm Bảo hành: tại Showroom HANOICOMPUTER, hoặc lựa chọn hình thức bảo hành tại nơi sử dụng trong vòng bán kính 20km tính từ địa điểm bán hàng của HANOICOMPUTER.</li>
            <li>Chậm nhất 2 giờ kể từ khi tiếp nhận được thông tin yêu cầu bảo hành của Khách hàng, chúng tôi sẽ có mặt để thực hiện các nghiệp vụ bảo hành cho sản phẩm của Quý khách(áp dụng với khoảng cách tối đa 20km tính từ điểm bán hàng của HANOICOMPUTER).</li>
        </ul>
        <h3 class="hnc-static-heading3">4. BẢNG GIÁ DỊCH VỤ XỬ LÝ SỰ CỐ TẠI NƠI SỬ DỤNG (Không chịu trách nhiệm xử lý các vấn đề liên quan đến dữ liệu):</h3>
        <table>
            <tbody>
                <tr>
                    <td>STT</td>
                    <td>Thông tin sản phẩm</td>
                    <td style="width: 150px;">Tên Dịch vụ</td>
                    <td>ĐVT</td>
                    <td style="width: 75px;">Số lượng</td>
                    <td style="width: 110px;">Đơn giá  (VND)</td>
                    <td style="width: 160px;">Khoảng cách áp dụng</td>
                    <td style="width: 150px;">Thời gian sử dụng</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Dịch vụ kiểm tra tại nơi sử dụng</td>
                    <td>&nbsp;</td>
                    <td>Lần</td>
                    <td>1</td>
                    <td>50,000</td>
                    <td rowspan="4">1km đến 10km</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Gói dịch vụ bảo hành tại nơi sử dụng: Khách hàng có 03 lần sử dụng dịch vụ trong thời gian bảo hành</td>
                    <td>DVTN Basic</td>
                    <td>Lần</td>
                    <td>3</td>
                    <td>130,000</td>
                    <td>06 tháng</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Gói dịch vụ bảo hành tại nơi sử dụng: Khách hàng có 06 lần sử dụng dịch vụ trong thời gian bảo hành</td>
                    <td>DVTN Silver</td>
                    <td>Lần</td>
                    <td>6</td>
                    <td>250,000</td>
                    <td>12 tháng</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Gói dịch vụ bảo hành tại nơi sử dụng: Khách hàng có 10 lần sử dụng dịch vụ trong thời gian bảo hành</td>
                    <td>DVTN Gold</td>
                    <td>Lần</td>
                    <td>10</td>
                    <td>400,000</td>
                    <td>12 tháng</td>
                </tr>
                <tr>
                    <td rowspan="3">5</td>
                    <td colspan="4" rowspan="3">Chi phí phát sinh Km</td>
                    <td>5,000/km</td>
                    <td colspan="1">11km đến 20km</td>
                </tr>
                <tr>

                    <td>10,000/km</td>
                    <td>21km đến 30km</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>

                    <td>Thỏa thuận</td>
                    <td>Trên 30 km</td>
                    <td colspan="1">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align: center; font-weight: bold; background-color: #243a76; color: white;">Thời gian đáp ứng</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Từ 1km đến 10km</td>
                    <td colspan="6">Trong 4 giờ làm việc từ khi tiếp nhận yêu cầu dịch vụ</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Từ 11km đến 20km</td>
                    <td colspan="6">Trong 5 giờ làm việc từ khi tiếp nhận yêu cầu dịch vụ</td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Từ 21km đến 30km</td>
                    <td colspan="6">Trong 6 giờ làm việc từ khi tiếp nhận yêu cầu dịch vụ</td>

                </tr>
                <tr>
                    <td>4</td>
                    <td>Từ Trên 30 km</td>
                    <td colspan="6">Thời gian đáp ứng theo thỏa thuận</td>

                </tr>
            </tbody>
        </table>
        <p class="hnc-static-text">Mọi thông tin về dịch vụ xin vui lòng liên hệ Bộ phận kỹ thuật – bảo hành Công Ty Cổ Phần Máy Tính Hà Nội. Tel: 1900.1903 (Máy lẻ 3) Email: <a href="mailto:baohanh@hanoicomputer.com">baohanh@hanoicomputer.com</a></p>
        <p class="hnc-static-text hnc-notice-text">Bảng giá dịch vụ chưa bao gồm VAT</p>
        <p class="hnc-static-text">Mọi thắc mắc quý khách vui lòng liên hệ:</p>
        <p class="hnc-static-text">
            Chăm sóc khách hàng: 1900.1903 (máy lẻ: 0) hoặc Hotline: 09.78.58.00.88
            <br> Bán hàng online: 1900.1903 (máy lẻ: 1)
        </p>
    </div>
</div>
<!-- MainBody End ============================= -->
