
@{
    ViewData["Title"] = "Gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">Giới thiệu về HANOICOMPUTER</li>
    </ul>
    <hr class="soft" />
    <div class="hnc-static-container">
        <h1 class="hnc-static-heading1">GIỚI THIỆU VỀ HANOICOMPUTER</h1>
        <h3 class="hnc-static-headding3" 1.="" giới="" thiệu="" chung=""></h3>
        <p><strong>Công ty Cổ phần Máy tính Hà Nội</strong>* là một trong những doanh nghiệp tiên phong trong lĩnh vực Công nghệ thông tin tại Hà Nội.</p>
        <p>*gọi tắt là “<strong>HNC</strong>” hoặc “<strong>HANOICOMPUTER</strong>”</p>
        <p>Với tầm nhìn dài hạn, HANOICOMPUTER tập trung đầu tư vào lĩnh vực Công nghệ thông tin. Trên tinh thần phát triển bền vững và chuyên nghiệp, HANOICOMPUTER được cơ cấu với các sản phẩm kinh doanh chính gồm:</p>
        <ul>
            <li>Laptop &amp; Phụ kiện</li>
            <li>Máy tính văn phòng</li>
            <li>Máy tính chơi Game</li>
            <li>Máy chủ, Máy trạm</li>
            <li>Linh kiện máy tính</li>
            <li>Monitor – Màn hình</li>
            <li>Gaming Gear &amp; Console</li>
            <li>Tản nhiệt – Cooling</li>
            <li>Thiết bị văn phòng</li>
            <li>Thiết bị Nghe Nhìn Giải Trí</li>
            <li>Thiết bị Siêu thị, Cửa hàng</li>
            <li>Thiết bị Hội Nghị, Trường Học</li>
            <li>Camera An Ninh</li>
            <li>Nhà Thông Minh</li>
            <li>Thiết bị Lưu trữ</li>
            <li>Thiết bị Mạng, Phần mềm</li>
            <li>Phụ kiện các loại</li>
        </ul>
        <h3 class="hnc-static-heading3">2. Giá trị cốt lõi</h3>
        <p>Văn hóa HANOICOMPUTER được thể hiện qua bốn giá trị cốt lõi: <span style="color: #000080;"><strong>TẬN TÂM – TRÁCH NHIỆM – SÁNG TẠO – KHÁC BIỆT</strong></span></p>
        <!-- Chỉ trên pc -->
        <div class="hnc-static-equal">
            <div class="hnc-static-all-center hnc-static-equal-half" style="background-color: #FA8C11;">
                <img src="https://www.hanoicomputer.vn/media/lib/gia-tri-cot-loi-my-4-150x150.jpg" alt="" width="150" height="150" class="hnc-static-round-img">
                <h3 class="hnc-static-brand-text">TẬN TÂM</h3>
                <p class="hnc-static-slogan-text"><em>“Vượt trên sự mong đợi”</em></p>
                <p class="hnc-static-explain-text">HANOICOMPUTER đặt tận tâm là nền tảng của phục vụ, lấy khách hàng làm trung tâm, mang đến những giá trị đích thực tới khách hàng và đối tác.</p>
            </div>
            <div class="hnc-static-all-center hnc-static-equal-half" style="background-color: #EC1922;">
                <img src="https://www.hanoicomputer.vn/media/lib/gia-tri-cot-loi-my-5-150x150.jpg" alt="" width="150" height="150" class="hnc-static-round-img">
                <h3 class="hnc-static-brand-text">TRÁCH NHIỆM</h3>
                <p class="hnc-static-slogan-text"><em>“Chúng ta luôn cố gắng”</em></p>
                <p class="hnc-static-explain-text">HANOICOMPUTER đặt chữ TÍN lên hàng đầu, luôn thể hiện tinh thần trách nhiệm cao cùng phương châm “Làm hết việc chứ không làm hết giờ”.</p>
            </div>
            <div class="hnc-static-all-center hnc-static-equal-half" style="background-color: #26A9E1;">
                <img src="https://www.hanoicomputer.vn/media/lib/gia-tri-cot-loi-my-7-150x150.jpg" alt="" width="150" height="150" class="hnc-static-round-img">
                <h3 class="hnc-static-brand-text">KHÁC BIỆT</h3>
                <p class="hnc-static-slogan-text"><em>“Dám nghĩ – Dám làm”</em></p>
                <p class="hnc-static-explain-text">HANOICOMPUTER đặt sự khác biệt là chủ trương để xây dựng công ty thành một doanh nghiệp dẫn đầu.</p>
            </div>
            <div class="hnc-static-all-center hnc-static-equal-half" style="background-color: #242156;">
                <img src="https://www.hanoicomputer.vn/media/lib/gia-tri-cot-loi-my-6-150x150.jpg" alt="" width="150" height="150" class="hnc-static-round-img">
                <h3 class="hnc-static-brand-text">SÁNG TẠO</h3>
                <p class="hnc-static-slogan-text"><em>“Không gì là không thể”</em></p>
                <p class="hnc-static-explain-text">HANOICOMPUTER coi sáng tạo là đòn bẩy để phát triển, luôn đề cao các sáng kiến để hoàn thiện, hiệu quả hơn, nâng tầm giá trị.</p>
            </div>

        </div>
        <h3 class="hnc-static-heading3">3. Những dấu mốc quan trọng</h3>
        <ul style="list-style-type: disc;">
            <li><strong><span style="color: #000080;">2001</span></strong>: Thành lập công ty TNHH MÁY TÍNH HÀ NỘI</li>
            <li><strong><span style="color: #000080;">2007</span></strong>: Áp dụng ISO 9000:2001, Hệ thống tiêu chuẩn quản lý chất lượng sản phẩm trên toàn cầu</li>
            <li><span style="color: #000080;"><strong>2010</strong></span>: Khai trương Showroom thứ hai tại 43 Thái Hà – Đống Đa – Hà Nội</li>
            <li><span style="color: #000080;"><strong>2014</strong></span>: Cổ phần hóa công ty, đổi tên thành CÔNG TY CỔ PHẦN MÁY TÍNH HÀ NỘI</li>
            <li><span style="color: #000080;"><strong>2016</strong></span>: Khai trương Showroom thứ ba tại A1-6 Lô 8A – Lê Hồng Phong – Ngô Quyền – Hải Phòng</li>
            <li><span style="color: #000080;"><strong>2017</strong></span>: Khai trương Showroom thứ tư tại 77 + 79 Nguyễn Văn Huyên – Cầu Giấy – Hà Nội</li>
            <li><span style="color: #000080;"><strong>2018</strong></span>: Khai trương Showroom thứ năm tại 511+513 Quang Trung – Hà Đông – Hà Nội</li>
            <li><span style="color: #000080;"><strong>2019</strong></span>: Khai trương Showroom thứ sáu tại 520 đường Cách Mạng Tháng Tám – Quận 3 – Hồ Chí Minh</li>
            <li><span style="color: #000080;"><strong>2020</strong></span>: Khai trương Showroom thứ bảy tại 398 Nguyễn Văn Cừ - Long Biên - Hà Nội</li>
        </ul>
        <h3 class="hnc-static-heading3">4. Sơ đồ tổ chức</h3>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/03-12-2020/stchct122020.jpg">
        <h3 class="hnc-static-heading3">5. Các lĩnh vực kinh doanh</h3>
        <ul style="list-style-type: circle;">
            <li><span style="color: #000080;">Tin học</span></li>
            <li><span style="color: #000080;">Điện tử</span></li>
            <li><span style="color: #000080;">Viễn thông</span></li>
        </ul>
        <p>Đặc biệt trong lĩnh vực tin học Công ty chú trọng các hoạt động như:</p>
        <ul style="list-style-type: disc;">
            <li>Thiết kế giải pháp tổng thể (thiết kế hệ thống, xây dựng mạng LAN, WAN,..)</li>
            <li>Cung cấp các thiết bị tin học (Máy chủ, máy tính PC, máy tính NOTEBOOKS, các thiết bị ngoại vi, các ứng dụng)</li>
            <li>Cung cấp phần mềm của các hãng trên thế giới, các phần mềm quản lý, truyền thông…</li>
            <li>Tư vấn và đào tạo cho khách hàng</li>
            <li>Các dịch vụ bảo hành, bảo trì…</li>
        </ul>
        <p>Qua thời gian hoạt động, công ty chúng tôi đã tạo được uy tín và sự tin cậy của khách hàng giúp công ty ngày càng lớn mạnh trong các lĩnh vực hoạt động.</p>

        <h3 class="hnc-static-heading3">6. Những thành tựu đã đạt được</h3>
        <img class="hnc-static-image" style="width:65%;" src="https://www.hanoicomputer.vn/media/lib/01-10-2020/thanh-tu-banner2.png">
        <h3 class="hnc-static-heading3">7. Những dự án đã thực hiện</h3>
        <p>Qua quá trình hoạt động trong lĩnh vực công nghệ thông tin, Công ty Cổ Phần Máy Tính Hà Nội đã được rất nhiều các cơ quan đơn vị tín nhiệm, điều đó thể hiện qua các dự án mà công ty đã tham gia, trúng thầu và thực hiện. Đơn cử như sau:</p>
        <ul style="list-style-type: disc;">
            <li>Tư vấn và lắp đặt hệ thống mạng máy tính cho Viện Khoa học Kỹ thuật Nông nghiệp Việt Nam.</li>
            <li>Tư vấn và thiết kế, lắp đặt hệ thống máy tính, máy in và mạng cho Nhà xuất bản Phụ nữ Hà Nội.</li>
            <li>Cung cấp và lắp đặt hệ thống mạng cho Trường Đại Học Công nghệ – ĐHQGHN.</li>
            <li>Cung cấp máy tính và thiết bị mạng cho Tổng Công ty Viễn thông Quân Đội.</li>
            <li>Cung cấp máy tính cho dự án Đào tạo Giáo viên THCS – Bộ Giáo dục và Đào tạo.</li>
            <li>Là một trong sáu thành viên của Dự án G6 cung cấp máy tính giá ưu đãi cho học sinh, sinh viên.</li>
            <li>Cung cấp máy tính và thiết bị mạng cho Tòa Án Nhân Dân tỉnh Sơn La.</li>
            <li>Cung cấp máy tính và thiết bị mạng cho Văn phòng Trung ương hội Nông dân Việt Nam.</li>
            <li>Cung cấp máy tính và thiết bị mạng cho Công ty Ô tô Toyota Việt Nam.</li>
            <li>Cung cấp máy tính và thiết bị mạng cho Học viện công nghệ Bưu chính Viễn Thông.</li>
            <li>Cung cấp máy tính cho Trường Đại học Bách khoa Hà Nội.</li>
            <li>Cung cấp máy chiếu, máy tính để bàn, phần mềm quản lý giáo dục cho Phòng Giáo dục và Đào tạo Quận Nam Từ Liêm.</li>
        </ul>
        <p>Ngoài các dự án, giải pháp trên công ty còn có nhiều hợp đồng cung cấp thiết bị tin học. Công ty đã có quan hệ với hàng nghìn khách hàng và luôn để lại cho khách hàng niềm tin tưởng ở khả năng chuyên môn, lòng nhiệt tình, tính cách chu đáo với các dịch vụ bảo hành bảo trì sau bán hàng.</p>
    </div>
</div>

