
@{
    ViewData["Title"] = "Muatragop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">HƯỚNG DẪN MUA HÀNG TRẢ GÓP TẠI HANOICOMPUTER</li>
    </ul>
    <hr class="soft" />

    <div class="hnc-static-container">
        <h1 class="hnc-static-heading1" style="text-transform:uppercase;">Hướng dẫn mua hàng trả góp tại HANOICOMPUTER</h1>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop.jpg" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer">
        <h2 class="hnc-static-heading2">TRẢ GÓP LÃI SUẤT 0% BẰNG THẺ TÍN DỤNG<br>ÁP DỤNG MUA HÀNG ONLINE</h2>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop2.png" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer">
        <p><strong>Sản phẩm áp dụng:</strong> Toàn bộ sản phẩm với đơn hàng giá trị trả góp tối thiểu 3.000.000đ (đơn hàng có thể bao gồm nhiều sản phẩm).</p>
        <p><strong>Địa điểm áp dụng:</strong> Áp dụng mua hàng online tại <a href="https://www.hanoicomputer.vn/" target="_blank" rel="noopener noreferrer">hanoicomputer.vn</a></p>
        <p><strong>Điều kiện áp dụng:</strong></p>
        <p>– Trả góp Lãi suất trả góp: 0%. Không áp dụng cho Thẻ phụ</p>
        <p>– Giao dịch trả góp chỉ được thực hiện cho chủ thẻ tín dụng Quốc tế được phát hành bởi các Ngân hàng có hỗ trợ trả góp và mua hàng, thanh toán qua Website có liên kết chương trình trả góp với Ngân Lượng – Alepay</p>
        <p>– Không giới hạn số lần đăng ký trả góp</p>
        <p>– Chỉ cho phép trả góp toàn bộ đơn, không cho phép trả góp 1 phần</p>
        <p>– Đơn trả góp nếu đổi trả chỉ được đổi trả sản phẩm có giá trị bằng hoặc cao hơn và bù chênh lệch bằng tiền mặt hoặc chuyển khoản</p>
        <p>– Chủ thẻ không được huỷ giao dịch trả góp sau khi giao dịch đã chuyển sang trả góp</p>
        <p><strong>Quyền lợi:</strong></p>
        <p>– Thủ tục đơn giản phi giấy tờ (không cần CMND/ Bằng lái xe/ Hộ khẩu/ Hóa đơn điện nước…).</p>
        <p>– Không cần chứng minh thu nhập, không cần trả trước.</p>
        <p>– Kì hạn trả góp linh hoạt 3, 6, 9, 12, 24 tháng.</p>
        <p>– Được áp dụng đầy đủ các chương trình khuyến mãi, giảm giá hay tặng quà đang diễn ra trong thời điểm Quý Khách hàng mua trả góp.</p>
        <table class="hnc-static-table">
            <tbody>
                <tr>
                    <td rowspan="2" style="width: 50px;"><strong>STT</strong></td>
                    <td rowspan="2" style="width: 150px;"><strong>Ngân hàng</strong></td>
                    <td colspan="5" style="width: 250px;"><strong>Kỳ hạn trả góp (tháng)</strong></td>
                    <td colspan="2" rowspan="2"><b>Quy định ngân hàng</b></td>
                </tr>
                <tr>
                    <td style="width: 50px;"><strong>03</strong></td>
                    <td style="width: 50px;"><strong>06</strong></td>
                    <td style="width: 50px;"><strong>09</strong></td>
                    <td style="width: 50px;"><strong>12</strong></td>
                    <td style="width: 50px;"><strong>24</strong></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><strong>Sacombank</strong></td>
                    <td></td>
                    <td>2.8%</td>
                    <td>3.8%</td>
                    <td>4.8%</td>
                    <td>9.0%</td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><strong>VIB</strong></td>
                    <td>2.0%</td>
                    <td>2.8%</td>
                    <td>3.5%</td>
                    <td>4.3%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><strong>HSBC</strong></td>
                    <td>2.3%</td>
                    <td>3.3%</td>
                    <td>4.8%</td>
                    <td>5.3%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><strong>Citibank</strong></td>
                    <td>2.3%</td>
                    <td>3.3%</td>
                    <td>4.8%</td>
                    <td>5.3%</td>
                    <td></td>
                    <td colspan="2">
                        Chủ thẻ nhắn “0” gửi 6058 để nhận để nhận đường dẫn tới link <a href="//www.citibank.com.vn/Landing_Pages/vietnamese/PayLite/application-form.htm" title="Đăng Ký Chương Trình Trả Góp 0% Lãi Suất Citi PayLite trực tuyến" rel="nofollow">Đăng Ký Chương Trình Trả Góp 0% Lãi Suất Citi PayLite trực tuyến</a> điền thông tin giao dịch và đồng ý với Điều khoản và Điều kiện của chương trình, sau đó bấm “Gửi Yêu Cầu”
                        <p></p>
                        <p>Hotline Citibank: 028 3521 1111</p>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><strong>Techcombank</strong></td>
                    <td>2.3%</td>
                    <td>3.5%</td>
                    <td>5.0%</td>
                    <td>6.8%</td>
                    <td></td>
                    <td colspan="2">
                        Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch
                        <p></p>
                        <p>Theo quy định của Techcombank, ngân hàng sẽ thu thêm chủ thẻ phí chuyển đổi giao dịch trả góp là 1.1% * Giá trị giao dịch (tối thiểu 150.000VNĐ / giao dịch)</p>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><strong>VPBank</strong></td>
                    <td>2.5%</td>
                    <td>3.3%</td>
                    <td>7.5%</td>
                    <td>8.0%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><strong>Shinhan Bank</strong></td>
                    <td></td>
                    <td>3.3%</td>
                    <td>4.0%</td>
                    <td>5.0%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><strong>ANZ</strong></td>
                    <td></td>
                    <td>3.2%</td>
                    <td>4.0%</td>
                    <td>5.0%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><strong>Eximbank</strong></td>
                    <td>2.3%</td>
                    <td>3.5%</td>
                    <td>4.8%</td>
                    <td>6.0%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><strong>Maritime Bank</strong></td>
                    <td>2.3%</td>
                    <td>2.8%</td>
                    <td>3.8%</td>
                    <td>4.8%</td>
                    <td></td>
                    <td colspan="2">
                        Chủ thẻ PHẢI liên hệ hotline ngân hàng để chuyển đổi giao dịch sang trả góp chậm nhất 05 ngày kể từ ngày thực hiện giao dịch (không quá ngày sao kê)
                        <p></p>
                        <p>Hotline Maritime Bank: 1800 59 9999</p>
                        <p>Theo quy định của Maritime Bank, ngân hàng sẽ thu thêm chủ thẻ phí chuyển đổi giao dịch trả góp 03% * Giá trị giao dịch trên mọi kỳ hạn thanh toán. Ngân hàng thu một lần khi chuyển đổi giao dịch</p>
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td><strong>SeaBank</strong></td>
                    <td>2.3%</td>
                    <td>3.0%</td>
                    <td>4.8%</td>
                    <td>5.8%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td><strong>TPBank</strong></td>
                    <td>2.3%</td>
                    <td>2.8%</td>
                    <td>4.5%</td>
                    <td>5.6%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td><strong>Standard Chartered</strong></td>
                    <td></td>
                    <td>2.3%</td>
                    <td>3.8%</td>
                    <td>4.3%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td><strong>SCB</strong></td>
                    <td>2.3%</td>
                    <td>3.0%</td>
                    <td>3.8%</td>
                    <td>4.4%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td><strong>FECredit</strong></td>
                    <td>2.3%</td>
                    <td>2.5%</td>
                    <td>3.8%</td>
                    <td>4.0%</td>
                    <td></td>
                    <td colspan="2">
                        Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch
                        <p></p>
                        <p>Giá trị thanh toán thẻ từ 2.000.000 VNĐ đến 10.000.000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>16</td>
                    <td><strong>Nam Á</strong></td>
                    <td></td>
                    <td>2.3%</td>
                    <td>3.3%</td>
                    <td>4.0%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td><strong>OCB</strong></td>
                    <td>2.3%</td>
                    <td>2.5%</td>
                    <td>3.3%</td>
                    <td>4.0%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td><strong>KienLong</strong></td>
                    <td>2.3%</td>
                    <td>3.0%</td>
                    <td>4.5%</td>
                    <td>5.8%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td><strong>SHB</strong></td>
                    <td>2.3%</td>
                    <td>3.0%</td>
                    <td>4.0%</td>
                    <td>4.8%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td><strong>BIDV</strong></td>
                    <td>2.3%</td>
                    <td>3.0%</td>
                    <td>4.0%</td>
                    <td>5.8%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td><strong>Vietcombank</strong></td>
                    <td>2.3%</td>
                    <td>3.2%</td>
                    <td>4.5 %</td>
                    <td>5.8%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td><strong>MBBank</strong></td>
                    <td>2.3%</td>
                    <td>3.2%</td>
                    <td>4.5%</td>
                    <td>5.5%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td><strong>ACB</strong></td>
                    <td>2.3%</td>
                    <td>3.2%</td>
                    <td>4.0%</td>
                    <td>5.0%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td><strong>HomeCredit</strong></td>
                    <td>2.3%</td>
                    <td>3.0%</td>
                    <td>4.9%</td>
                    <td>5.3%</td>
                    <td></td>
                    <td colspan="2">Chủ thẻ KHÔNG cần liên hệ đến Ngân hàng để chuyển đổi giao dịch</td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <p><strong>Lưu ý:</strong></p>
        <p>– Biểu phí trên đã bao gồm thuế GTGT</p>
        <p>– Phí trên chưa bao gồm phí thanh toán thẻ Quốc tế</p>
        <p>– Trong trường hợp giao dịch không thành công, thời gian hoàn tiền cho 1 giao dịch như sau:</p>
        <ul>
            <li>Đối với Thẻ Quốc Tế phát hành tại Ngân hàng trong nước thời gian hoàn tiền trong vòng 5-7 ngày kể từ ngày gửi yêu cầu (không tính thứ 7, chủ nhật và những ngày nghỉ lễ, tết)</li>
            <li>Đối với Thẻ Quốc Tế phát hành tại Ngân hàng Nước ngoài thời gian hoàn tiền: 7-15 ngày kể từ ngày gửi yêu cầu (không tính thứ 7, chủ nhật và những ngày nghỉ lễ, tết)</li>
        </ul>
        <p>
            Quý khách hàng vui lòng liên hệ số Hotline 1900 1903 (máy lẻ 0) để được tư vấn chi tiết.
        </p>
        <h3 class="hnc-static-heading3 hnc-static-center">CÁC BƯỚC THỰC HIỆN</h3>
        <p><strong>BƯỚC 1:</strong>&nbsp;Quý khách đến showroom xem hàng hoặc mua hàng online trên toàn quốc.</p>
        <p><strong>BƯỚC 2:&nbsp;</strong>Quý khách chọn sản phẩm muốn mua, chọn trả góp lãi suất 0%.</p>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop3.png" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer">
        <p><strong>BƯỚC 3:&nbsp;</strong>Quý khách chọn trả góp qua thẻ VISA/MASTER/JCB, điền đầy đủ thông tin để&nbsp;chúng tôi giao hàng.</p>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop4.png" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer">
        <p><strong>BƯỚC 4:</strong>&nbsp;Quý khách chọn kì hạn và ngân hàng trả góp phù hợp rồi nhập thông tin thẻ tín dụng.</p>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop5.png" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer">
        <div class="hnc-static-dash"></div>
        <h3 class="hnc-static-heading3 hnc-static-center">TRẢ GÓP LÃI SUẤT 0% BẰNG THẺ TÍN DỤNG<br>ÁP DỤNG TẠI SHOWROOM</h3>
        <img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop6.png" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer">
        <p><strong>Sản phẩm áp dụng:</strong> Toàn bộ sản phẩm với đơn hàng giá trị trả góp tối thiểu 3.000.000đ (đơn hàng có thể bao gồm nhiều sản phẩm).</p>
        <p><strong>Địa điểm áp dụng:</strong> Áp dụng mua hàng quẹt thẻ tại quầy thanh toán Showroom HANOICOMPUTER.</p>
        <p><strong>Điều kiện áp dụng:</strong></p>
        <p>– Trả góp Lãi suất trả góp: 0%. Không áp dụng cho Thẻ phụ</p>
        <p>– Giao dịch trả góp chỉ được áp dụng cho Chủ thẻ tín dụng quốc tế&nbsp;<strong>(VISA, MASTERCARD, UNION PAY, JCB)&nbsp;</strong>các ngân hàng CitiBank, Eximbank, FECredit, HSBC, Maritimebank, Nam Á, Sacombank, SCB, Seabank, Shinhanbank, Standard Chartered Bank, Techcombank, Tienphongbank, VIBBank, VPBank, KienLongBank, Vietinbank, SHB, BIDV, Vietcombank, ACB, Military Bank (MBbank) ….. (cập nhật đến 10/2019).</p>
        <p>– Không giới hạn số lần đăng ký trả góp</p>
        <p>– Chỉ cho phép trả góp toàn bộ đơn, không cho phép trả góp 1 phần</p>
        <p>– Đơn trả góp nếu đổi trả chỉ được đổi trả sản phẩm có giá trị bằng hoặc cao hơn và bù chênh lệch bằng tiền mặt hoặc chuyển khoản</p>
        <p>– Chủ thẻ không được huỷ giao dịch trả góp sau khi giao dịch đã chuyển sang trả góp</p>
        <p><strong>Quyền lợi:</strong></p>
        <p>– Thủ tục đơn giản phi giấy tờ (không cần CMND/ Bằng lái xe/ Hộ khẩu/ Hóa đơn điện nước…).</p>
        <p>– Không cần chứng minh thu nhập, không cần trả trước.</p>
        <p>– Kì hạn trả góp linh hoạt 3, 6, 9, 12, 24 tháng.</p>
        <p>– Được áp dụng đầy đủ các chương trình khuyến mãi, giảm giá hay tặng quà đang diễn ra trong thời điểm Quý Khách hàng mua trả góp.</p>
        <table class="hnc-static-table">
            <thead>
                <tr class="tableizer-firstrow">
                    <th>STT</th>
                    <th>Ngân hàng</th>
                    <th>Phí Hỗ Trợ Xử Lý Giao Dịch Trả Góp</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Giá trị giao dịch tối thiểu (VNĐ)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>hỗ trợ thanh toán</td>
                    <td>(đã bao gồm thuế GTGT)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td> </td>
                    <td>3 tháng</td>
                    <td>6 tháng</td>
                    <td>9 tháng</td>
                    <td>12 tháng</td>
                    <td>18 tháng</td>
                    <td>24 tháng</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>ACB</td>
                    <td>1.87%</td>
                    <td>2.42%</td>
                    <td>3.52%</td>
                    <td>4.46%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>BIDV</td>
                    <td>1.82%</td>
                    <td>2.92%</td>
                    <td>4.22%</td>
                    <td>5.12%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Citibank</td>
                    <td>1.32%</td>
                    <td>2.42%</td>
                    <td>3.52%</td>
                    <td>4.62%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Eximbank</td>
                    <td>1.71%</td>
                    <td>2.42%</td>
                    <td>4.68%</td>
                    <td>6.16%</td>
                    <td>9.13%</td>
                    <td>12.10%</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>FECredit</td>
                    <td>1.76%</td>
                    <td>1.76%</td>
                    <td>3.32%</td>
                    <td>3.32%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>2,000,000</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>HomeCredit</td>
                    <td>1.76%</td>
                    <td>3.08%</td>
                    <td>5.17%</td>
                    <td>6.49%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>HSBC</td>
                    <td>1.87%</td>
                    <td>2.42%</td>
                    <td>3.52%</td>
                    <td>4.62%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Kiên Long Bank</td>
                    <td>1.71%</td>
                    <td>3.19%</td>
                    <td>4.68%</td>
                    <td>6.16%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Maritime Bank</td>
                    <td>1.72%</td>
                    <td>2.21%</td>
                    <td>4.72%</td>
                    <td>5.23%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>MB</td>
                    <td>1.98%</td>
                    <td>3.19%</td>
                    <td>5.06%</td>
                    <td>5.50%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Nam A Bank</td>
                    <td>1.22%</td>
                    <td>1.98%</td>
                    <td>2.32%</td>
                    <td>2.97%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Sacombank</td>
                    <td>1.41%</td>
                    <td>2.64%</td>
                    <td>3.78%</td>
                    <td>5.17%</td>
                    <td>8.14%</td>
                    <td>10.78%</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>SCB</td>
                    <td>1.22%</td>
                    <td>2.22%</td>
                    <td>3.22%</td>
                    <td>3.22%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Seabank</td>
                    <td>1.52%</td>
                    <td>2.42%</td>
                    <td>4.22%</td>
                    <td>5.22%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>SHB</td>
                    <td>1.72%</td>
                    <td>2.22%</td>
                    <td>3.22%</td>
                    <td>3.82%</td>
                    <td>x</td>
                    <td>x</td>
                    <td> 3,000,000 đến dưới 100,000,000 </td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Shinhan &amp;ANZ</td>
                    <td>x</td>
                    <td>2.86%</td>
                    <td>3.63%</td>
                    <td>4.22%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Standard Chartered</td>
                    <td>1.42%</td>
                    <td>1.82%</td>
                    <td>2.42%</td>
                    <td>3.22%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>2,000,000</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Techcombank</td>
                    <td>1.65%</td>
                    <td>2.75%</td>
                    <td>4.62%</td>
                    <td>6.16%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>TPB </td>
                    <td>1.54%</td>
                    <td>2.42%</td>
                    <td>3.74%</td>
                    <td>5.17%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>VIB</td>
                    <td>2.20%</td>
                    <td>2.42%</td>
                    <td>3.52%</td>
                    <td>3.52%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>2,000,000</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Vietcombank</td>
                    <td>1.67%</td>
                    <td>2.86%</td>
                    <td>3.98%</td>
                    <td>5.52%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Vietinbank</td>
                    <td>1.72%</td>
                    <td>3.07%</td>
                    <td>4.57%</td>
                    <td>5.72%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>2,000,000</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>VPBank</td>
                    <td>2.31%</td>
                    <td>3.29%</td>
                    <td>7.81%</td>
                    <td>8.91%</td>
                    <td>x</td>
                    <td>x</td>
                    <td>3,000,000</td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <p><strong>Lưu ý:</strong></p>
        <ul>
            <li>Chủ thẻ không cần phải làm thủ tục nào khác khi đăng ký chuyển đổi trả góp qua Payoo. Ngoại trừ ngân hàng Citibank: chủ thẻ điền mẫu đăng ký trả góp <a href="https://www.citibank.com.vn/Landing_Pages/vietnamese/PayLite/application-form.htm?ecid=MSOWMVNCBUVNPL" target="_blank" rel="nofollow noopener noreferrer">TẠI ĐÂY</a></li>
            <li>Lưu ý với các ngân hàng MSB, SHB, Seabank, ngân hàng sẽ liên hệ với chủ thẻ để xác nhận thông tin chuyển đổi trả góp.</li>
            <li>Trong trường hợp, ngân hàng không liên hệ được với chủ thẻ, Payoo sẽ hỗ trợ liên hệ đến số điện thoại đăng ký khi thực hiện giao dịch, do đó đại lý/khách hàng cần cập nhật số điện thoại chính xác.</li>
        </ul>
        <h3 class="hnc-static-heading3 hnc-static-center"><span style="color: #ff0000;">MỘT SỐ QUY ĐỊNH</span></h3>
        <table class="hnc-static-table">
            <tbody>
                <tr>
                    <td><strong>Ngân hàng</strong></td>
                    <td><strong>Hotline ngân hàng</strong></td>
                    <td><strong>Lưu ý</strong></td>
                </tr>
                <tr>
                    <td><strong>Citibank</strong></td>
                    <td>(84 28) 3521 1111</td>
                    <td>
                        Ngay sau khi thanh toán thành công, chủ thẻ nhắn tin cú pháp “0” gửi 6058 để nhận link Đơn đăng ký Online https://www.citibank.com.vn/Landing_Pages/vietnamese/PayLite/application-form.htm. Khách hàng điền các thông tin trên đơn; đồng ý điều khoản và điều kiện của chương trình và gửi yêu cầu.
                        <br> Tại mục “Giao dịch tại Đối tác/Partner Name”: Khách hàng chọn “Payoo”
                    </td>
                </tr>
                <tr>
                    <td><strong>Eximbank</strong></td>
                    <td>1800 1199</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>FE Credit</strong></td>
                    <td>(84 28) 3933 3838</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>HSBC</strong></td>
                    <td>(84 28)&nbsp; 37 247 247</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>(84 24 )&nbsp; 670 7707</td>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>Kiên Long Bank</strong></td>
                    <td>1900 6929</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>Maritime Bank</strong></td>
                    <td>18005 99999</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>(84 24) 3941 8868</td>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>Nam Á</strong></td>
                    <td>1900 6679</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>Sacombank</strong></td>
                    <td>19005 55588</td>
                    <td>Ngân hàng sẽ gửi tin nhắn thông báo đến chủ thẻ.</td>
                </tr>
                <tr>
                    <td>Trong vòng 03-05 ngày kể từ ngày thực hiện giao dịch nếu chưa nhận được tin nhắn thì chủ thẻ liên hệ với ngân hàng kiểm tra lại.</td>
                </tr>
                <tr>
                    <td><strong>SCB</strong></td>
                    <td>1900 6538</td>
                    <td>Ngân hàng sẽ gửi tin nhắn thông báo đến chủ thẻ.</td>
                </tr>
                <tr>
                    <td>Trong vòng 03-05 ngày kể từ ngày thực hiện giao dịch nếu chưa nhận được tin nhắn thì chủ thẻ&nbsp; liên hệ với ngân hàng kiểm tra lại.</td>
                </tr>
                <tr>
                    <td><strong>Seabank</strong></td>
                    <td>1800 555587</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>1900 555587</td>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>Shinhan &amp; ANZ</strong></td>
                    <td>1900 1577</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>Standard Chartered</strong></td>
                    <td>(84 28) 3901 10000</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>(84 24) 3696 0000</td>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>Techcombank</strong></td>
                    <td>18005 8822</td>
                    <td>Ngân hàng thu phí chuyển đổi trả góp: 1,1%/ giao dịch, tối đa 150.000 VNĐ.</td>
                </tr>
                <tr>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>TP bank</strong></td>
                    <td>1900 585885</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>( 84 24) 37 683683</td>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>VIB</strong></td>
                    <td>1800 8180</td>
                    <td>Chủ thẻ gọi Hotline Ngân hàng để đăng ký giao dịch trả góp sau 05 ngày thực hiện giao dịch và trước 02 ngày làm việc cho hạn thanh toán của khoản trả góp</td>
                </tr>
                <tr>
                    <td><strong>Vietinbank</strong></td>
                    <td>1900 558 868</td>
                    <td>Chủ Thẻ tham gia chương trình trả góp phải trước kỳ sao kê của thẻ ít nhất 07 (bảy) ngày làm việc.</td>
                </tr>
                <tr>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>VPBank</strong></td>
                    <td>1900 545415</td>
                    <td>Chương trình trả góp không hỗ trợ cho thẻ TIMO.</td>
                </tr>
                <tr>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>SHB</strong></td>
                    <td>1800 588 856</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>BIDV</strong></td>
                    <td>1900 9247</td>
                    <td>Chủ thẻ/Khách hàng không phải thao tác gì cả.</td>
                </tr>
                <tr>
                    <td>(84) 24 22 20 05 88</td>
                    <td>Payoo sẽ tự động làm việc với Ngân hàng để chuyển đổi thành giao dịch trả góp.</td>
                </tr>
                <tr>
                    <td><strong>Vietcombank</strong></td>
                    <td>1900 54 54 13</td>
                    <td>Chủ Thẻ tham gia chương trình trả góp phải trước kỳ sao kê của thẻ ít nhất 05 (năm) ngày làm việc.</td>
                </tr>
                <tr>
                    <td>– Thẻ Amex: ngày 1 hàng tháng</td>
                </tr>
                <tr>
                    <td>– Thẻ UPI: ngày 5 hàng tháng</td>
                </tr>
                <tr>
                    <td>– Thẻ MasterCard: ngày 10 hàng tháng</td>
                </tr>
                <tr>
                    <td>– Thẻ JCB: ngày 15 hàng tháng</td>
                </tr>
                <tr>
                    <td>– Thẻ Visa: ngày 20 hàng tháng</td>
                </tr>
                <tr>
                    <td><strong>ACB</strong></td>
                    <td>
                        1900 54 54 86
                        <br> (84) 28 38 247 247
                    </td>
                    <td>
                        Ngân hàng sẽ gửi tin nhắn thông báo đến chủ thẻ.
                        <br> Sau 07 ngày làm việc kể từ ngày thực hiện giao dịch nếu chưa nhận được tin nhắn thì chủ thẻ liên hệ ngân hàng kiểm tra lại.
                        <br> Lưu ý: Thẻ ACB Express Credit, thẻ Mastercard Standard VietBank và thẻ Mastercard Gold VietBank chưa được hỗ trợ Chương trình trả góp tại Payoo
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="hnc-static-dash"></div>
        <h3 class="hnc-static-heading3 hnc-static-center">TRẢ GÓP QUA CÔNG TY TÀI CHÍNH<br>ÁP DỤNG TẠI SHOWROOM</h3>
        <table class="hnc-static-table">
            <tbody>
                <tr>
                    <td>
                        <p><strong>ĐƠN VỊ TRẢ GÓP</strong></p>
                    </td>
                    <td>
                        <p><img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop7.png" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer" width="83" height="85"></p>
                    </td>
                    <td>
                        <p><strong><img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop8.jpg" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer"></strong></p>
                    </td>
                    <td>
                        <p><strong><img class="hnc-static-image" src="https://www.hanoicomputer.vn/media/lib/huong-dan-mua-hang-tra-gop9.jpg" alt="Hướng dẫn mua hàng trả góp tại Hanoicomputer"></strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Đăng ký Online</strong></p>
                    </td>
                    <td>
                        <p>1. Tải bản khai thông tin&nbsp;<a href="//www.hanoicomputer.vn/media/lib/phiungk.doc" target="_blank" rel="noopener noreferrer">Tại đây</a></p>
                        <p>2. Điền đầy đủ thông tin vào bản khai rồi gửi về hòm thư: tragop@hanoicomputer.com</p>
                        <p>3. Chúng tôi sẽ liên lạc lại để tư vấn trả góp</p>
                    </td>
                    <td>
                        <p>Tư vấn trực tiếp tại Showroom</p>
                    </td>
                    <td>
                        <p>Tư vấn trực tiếp tại Showroom</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Mức lãi suất</strong></p>
                    </td>
                    <td>
                        <p>Lãi suất từ 1.53% đến 1.83%</p>
                    </td>
                    <td>
                        <p>1.68% đến 7.35%</p>
                    </td>
                    <td>
                        <p>1.9 % (Nếu chứng minh thu nhập giảm còn 1.49%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Thời gian trả góp</strong></p>
                    </td>
                    <td>
                        <p>6 – 24 tháng</p>
                    </td>
                    <td>
                        <p>6 – 19 tháng</p>
                    </td>
                    <td>
                        <p>6- 24 tháng</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Độ tuổi</strong></p>
                    </td>
                    <td>
                        <p>18 – 60 tuổi (đến 65 tuổi với khách hàng thành viên ACS)</p>
                    </td>
                    <td>
                        <p>20 – 60 tuổi</p>
                    </td>
                    <td>
                        <p>19 – 60 tuổi</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Mức trả trước</strong></p>
                    </td>
                    <td>
                        <p>Từ 10% đến 80%</p>
                    </td>
                    <td>
                        <p>20% đến 70%</p>
                    </td>
                    <td>
                        <p>Từ 10%</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Thủ tục/ Giấy tờ</strong></p>
                    </td>
                    <td>
                        <p>– CMND + Sổ hộ khẩu hoặc Bằng lái xe (đơn hàng dưới 15 triệu hoặc khoản vay &lt; 10tr)</p>
                    </td>
                    <td>
                        <p>– CMND + bằng lái xe hoặc sổ hộ khẩu</p>
                    </td>
                    <td>
                        <p>– CMND + Giấy phép lái xe</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>– CMND + Sổ hộ khẩu + Hóa đơn điện hoặc Bảo hiểm y tế (khoản vay &gt; 10tr)</p>
                    </td>
                    <td>
                        <p>– (hóa đơn điện/nươc/thẻ bảo hiểm y tế/ HĐ lao động – hưởng lãi suất ưu đãi)</p>
                    </td>
                    <td>
                        <p>– CMND + Sổ hộ khẩu &gt; 10 triệu</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>*Khách hàng Sinh viên: Cung cấp thêm thẻ sinh viên và CMND bố hoặc mẹ</p>
                    </td>
                    <td>
                        <p>
                        </p>
                    </td>
                    <td>
                        <p>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Thời gian duyệt</strong></p>
                    </td>
                    <td>
                        <p>30-60 phút</p>
                    </td>
                    <td>
                        <p>15 – 30 phút</p>
                    </td>
                    <td>
                        <p>5 – 20 phút</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Ưu đãi đặc biệt</strong></p>
                    </td>
                    <td>
                        <p>
                            – Không thu phí bảo hiểm khi làm hồ sơ
                            <br> – Không phí thu hộ đóng tiền trả góp hàng tháng
                            <br> – Hỗ trợ phí với đối tượng là quân nhân, công an, giáo sư, giảng viên, giáo viên, sinh viên (1.59%)
                        </p>
                    </td>
                    <td>
                        <p>Tham gia gói 12 tháng được tặng 2 tháng cuối cả gốc và lãi</p>
                    </td>
                    <td>
                        <p>– Giảm 10% lãi với KH thân thiết.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>– Hoàn tiền lên đến 12 triệu</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Hạn mức vay</strong></p>
                    </td>
                    <td>
                        <p>3 triệu – 60 triệu</p>
                    </td>
                    <td>
                        <p>3 triệu – 40 triệu</p>
                    </td>
                    <td>
                        <p>2 triệu – 60 triệu</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Phí hồ sơ/ Phí bảo hiểm tiền vay</strong></p>
                    </td>
                    <td>
                        <p>300.000 vnd</p>
                    </td>
                    <td>
                        <p>KHÔNG CÓ</p>
                    </td>
                    <td>
                        <p>KHÔNG CÓ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Phí phạt đóng trễ</strong></p>
                    </td>
                    <td>
                        <p>5.000 VND/ngày</p>
                    </td>
                    <td>
                        <p>Tùy theo giá trị từng hợp đồng</p>
                    </td>
                    <td>
                        <p>Dưới 5%</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Chính sách đổi trả hàng trả góp</strong></p>
                    </td>
                    <td>
                        <p>Theo chính sách HNC</p>
                    </td>
                    <td>
                        <p>Theo chính sách HNC</p>
                    </td>
                    <td>
                        <p>Theo chính sách HNC</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Showroom áp dụng</strong></p>
                    </td>
                    <td>
                        <p>* 131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</p>
                        <p>* 43 Thái Hà- Đống Đa - Hà Nội</p>
                        <p>* 77 - 79 Nguyễn Văn Huyên- Cầu Giấy - Hà Nội</p>
                    </td>
                    <td>
                        <p>* 131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</p>
                        <p>* 398 Nguyễn Văn Cừ - Long Biên - Hà Nội</p>
                    </td>
                    <td>

                        <p>* 131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</p>
                        <p>* 43 Thái Hà- Đống Đa - Hà Nội</p>
                        <p>* A1-6 Lô 8A – Ngô Quyền – Hải Phòng</p>
                        <p>* 77 Nguyễn Văn Huyên- Cầu Giấy - Hà Nội</p>
                        <p>* Số 511+513 Quang Trung – Hà Đông</p>
                        <p>* 398 Nguyễn Văn Cừ - Long Biên - Hà Nội</p>
                        <p>* 520 Cách Mạng Tháng Tám - TPHCM</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>