
@{
    ViewData["Title"] = "Ed273a";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>

    <div class="nd title_box_scroll_content_2019 showmore">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm Màn hình Acer ED273A | HANOICOMPUTER</h2>
        <h3>&nbsp;MÀN HÌNH FREESYNC TƯƠNG THÍCH G-SYNC</h3>
        <p>Màn hình&nbsp;ED273A&nbsp;đã được NVDIA chứng nhận tương thích G-sync, mang lại trải nghiệm game vô cùng mượt mà, không hề có hiện tượng xé hình, giật hình.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/43194_Hanoicomputer-Acer-ED2731.jpg" alt=""></p>
        <h3>CHIẾN GAME CỰC ĐỈNH</h3>
        <p>Công nghệ Freesync loại bỏ hiện tượng xé hình, giật hình cùng tần số quét cực đỉnh 144Hz cho trải nghiệm game trơn tru, sống động rõ rệt, đặc biệt là những tựa game chuyển động nhanh.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/43194_Hanoicomputer-Acer-ED2732.jpg" alt=""></p>
        <h3>KHUNG HÌNH HOÀNHẢO&nbsp;</h3>
        <p>Với 2 kích thước 27"&nbsp;ED273A&nbsp;và 31.5” ED323QURA cùng độ cong lý tưởng 1800R trên thiết kế tràn viền, dòng màn hình ED3 mang độ phân giải lên đến 2K 2560 x 1440, chuẩn 88% gam màu NTSC, tương đương 125% sRGB, cùng độ tương phản tĩnh lên đến 3000:1 (gấp 3 lần màn hình thường) mang lại hình ảnh sống động, sắc nét ở mọi góc nhìn chỉ bằng 1 nút bấm 4 chiều thông minh trên&nbsp;ED273.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/43194_Hanoicomputer-Acer-ED2734.jpg" alt=""></p>
        <h3>THIẾT KẾ HIỆN ĐẠI</h3>
        <p>Thiết kế hiện đại đậm chất gaming, dòng sản phẩm ED3 với màn hình gaming&nbsp;ED273A&nbsp;và ED323QURA có thiết kế tràn viền với chỉ số cong hoàn hảo 1800R chân đế hình vòng cung cứng cáp, hầm hố, nhưng không kém phần sang trọng, gọn gàng.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/43194_Hanoicomputer-Acer-ED2735.jpg" alt=""></p>
        <p><img src="https://hanoicomputercdn.com/media/lib/43194_Hanoicomputer-Acer-ED2733.jpg" alt=""></p>
    </div>
</div>


