
@{
    ViewData["Title"] = "LaptopGamingMsi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <div class="nd title_box_scroll_content_2019 showmore">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm Laptop Gaming MSI  GF65 Thin 10SER (622VN)  hiệu năng khủng, cực kỳ mạnh mẽ</h2>
        <h3><span style="font-family: tahoma, arial, helvetica, sans-serif;">MỎNG HƠN VÀ NHẸ HƠN NHỜ VỎ NHÔM ALUMINUM</span></h3>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;"><a title="Laptop gaming" href="../collection/laptop-gaming" target="_blank" rel="noopener">Laptop gaming</a> MSI GF65 Thin 10SER-622VN với mặt trên vỏ kim loại xước và thiết kế bàn phím liền kề, măt dưới với khe thông gió hình chữ X ẩn vô cùng độc đáo.</span></p>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;"><img style="display: block; margin-left: auto; margin-right: auto;" src="../media/lib/26-09-2020/msi-gf65-thin.gif" alt="" width="700" height="387"></span></p>
        <h3><span style="font-family: tahoma, arial, helvetica, sans-serif;">Thiết kế di động</span></h3>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;">MSI GF65 Thin 10SER-622VN sở hữu màn hình 15 inch nhưng lại có thiết kế gọn gàng tương đương với những chiếc laptop 14 inch truyền thống nhờ các cạnh viền màn hình được dát mỏng hết sức có thể.</span></p>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;"><img style="display: block; margin-left: auto; margin-right: auto;" src="../media/lib/26-09-2020/msi-gf75-1.jpg" alt="" width="700" height="268"></span></p>
        <h3><span style="font-family: tahoma, arial, helvetica, sans-serif;">CPU 6 nhân thế hệ 9 mới nhất - đánh bại mọi giới hạn</span></h3>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;">Laptop MSI GF65 Thin 10SER-622VN được trang bị chip xử lý Intel đa nhân thế hệ mới nhất cho hiệu năng tăng cao lên đến 40% thế hệ trước nhờ tốc độ xử lý ở tần số cao.</span></p>
        <p style="text-align: center;"><span style="font-family: tahoma, arial, helvetica, sans-serif;"><img src="../media/lib/26-09-2020/cpu-msi-gf75.jpg" alt="" width="700" height="443">&nbsp;</span></p>
        <h3><span style="font-family: tahoma, arial, helvetica, sans-serif;">Card đồ họa NVIDIA tối tân</span></h3>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;">Laptop MSI GF65 Thin 10SER-622VN với trang bị card đồ họa NVIDIA GeForce tối tân giúp cải thiện hiệu năng xử lý đồ họa lên đến 40%, tăng hiệu quả số lượng khung hình/giây cho các tựa game đang hot nhất hiện nay.</span></p>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;"><img style="display: block; margin-left: auto; margin-right: auto;" src="../media/lib/26-09-2020/msi-gf65-thin-nvidia-rtx.jpg" alt="" width="700" height="444"></span></p>
        <h3 style="text-align: left;"><span style="font-family: tahoma, arial, helvetica, sans-serif;">Màn hình sắc nét siêu mỏng</span></h3>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;">Với màn hình kích thước 15.6 inch với độ phân giải Full HD, MSI GF65 Thin 10SER-622VN đưa người dùng vào thế giới game chuyển động theo từng chi tiết của hình ảnh nhờ dải màu rộng 100% sRGB. Tấm nền IPS sáng hơn, góc nhìn rộng hơn với 170 độ khiến người chơi có thể thoải mái thay đổi vị trí ngồi nhưng vẫn có thể nhìn rõ nét từng chi tiết.</span></p>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;"><img style="display: block; margin-left: auto; margin-right: auto;" src="../media/lib/26-09-2020/msi-gf75-man-hinh.jpg" alt="" width="700" height="368"></span></p>
        <h3><span style="font-family: tahoma, arial, helvetica, sans-serif;">&nbsp;PIN LÊN ĐẾN 7H</span></h3>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;">Thời lượng pin trên có thể lên đến 7 tiếng, sẵn sàng đáp ứng cho mọi nhu cầu giải trí của bạn.</span></p>
        <p style="text-align: center;"><span style="font-family: tahoma, arial, helvetica, sans-serif;">&nbsp;<img src="https://hanoicomputercdn.com/media/lib/52677_4.jpg" alt=""></span></p>
        <h3><span style="font-family: tahoma, arial, helvetica, sans-serif;">MÁT VÀ ÊM HƠN</span></h3>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;">Thiết kế hoàn toàn mới được tinh chỉnh để mát và êm hơn so với các laptop phổ thông khác.</span></p>
        <p><span style="font-family: tahoma, arial, helvetica, sans-serif;">Bạn sẽ sử dụng phù hợp hơn trong nhiều môi trường khác nhau.</span></p>
        <p style="text-align: center;"><span style="font-family: tahoma, arial, helvetica, sans-serif;">&nbsp;<img src="https://hanoicomputercdn.com/media/lib/52677_5.jpg" alt=""></span></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>

