
@{
    ViewData["Title"] = "Macbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <div class="nd title_box_scroll_content_2019">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm  Apple Macbook Pro 15 Touchbar (MV902)  đẳng cấp, thời trang, mạnh mẽ</h2>
        <h3>Màn hình Retina True Tone</h3>
        <p>Màn hình Retina trên MacBook Pro 15 2019 là màn hình tốt nhất từ trước đến nay nay trên những chiếc laptop Mac. Màn hình này sử dụng đèn nền LED và độ tương phản cao, tạo ra màu đen sâu thẳm cùng ánh sáng trắng sáng hơn. Công nghệ P3 wide color và sRGB giúp màu xanh và đỏ rực rỡ hơn. Ngoài ra phiên bản Touch Bar còn có cả công nghệ True Tone, cân bằng trắng tự động dựa theo nhiệt độ môi trường để mang đến trải nghiệm tự nhiên nhất. Không thể không nhắc đến độ phân giải siêu cao 2880 x 1800 pixels, cho bạn những hình ảnh sắc nét đến từng chi tiết.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp2019151.jpg" width="1200"></p>
        <h3>Âm thanh sống động và trung thực</h3>
        <p>Âm thanh trên MacBook Pro được đầu tư kỹ lưỡng để có được những âm thanh phát ra cân bằng, độ trung thực cao, dải tần rộng và tập trung vào âm trầm mạnh mẽ. Loa ngoài MacBook Pro được kết nối trực tiếp với năng lượng hệ thống, cho khả năng khuếch đại âm thanh tốt hơn, âm thanh phát ra to hơn. Bạn sẽ có những giờ phút giải trí dễ dàng hơn, chỉnh sửa video hiệu quả hơn ở bất cứ đâu trên MacBook Pro.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp2019152.jpg" width="1200"></p>
        <h3>Bộ vi xử lý Intel Core i7 mới nhất</h3>
        <p>Mọi ý tưởng đều nhanh chóng được hiện thực hóa nhờ hiệu năng CPU siêu nhanh, xử lý tuyệt vời mọi tác vụ chuyên dụng. Bạn có thể thao tác thoải mái với những ứng dụng nặng như rending video 3D; thêm các hiệu ứng đặc biệt; xử lý bản nhạc đa phương tiện; lập trình các phần mềm phức tạp; … mọi thứ đều diễn ra nhanh chóng như ý muốn.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp2019153.jpg" width="1200"></p>
        <h3>Đồ họa ấn tượng khó tin</h3>
        <p>Sử dụng GPU đồ họa rời Radeon Pro 555X, MacBook Pro 15 Touch Bar 2019 là một trong những chiếc laptop xử lý đồ họa tốt nhất hiện tại. GPU này có bộ nhớ 4GB GDDR5, cho hiệu suất tùy chỉnh theo thời gian thực, luôn mang lại hiệu quả cao nhất trong từng tác vụ của bạn. Những phần mềm xử lý đồ họa chuyên nghiệp đều chạy rẩt mượt mà trên MacBook Pro 15 Touch Bar 2019.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp2019154.jpg" width="1200"></p>
        <h3>Ổ cứng SSD, truyền dữ liệu và khởi động nhanh chóng</h3>
        <p>MacBook Pro 15 2019 sử dụng bộ nhớ flash SSD 256GB với tốc độ truyền dữ liệu cực nhanh. Tốc độ đọc lên tới 3,2GB/s và tốc độ ghi lên tới 2,2GB/s. Không chỉ đủ không gian cho bạn lưu trữ những nội dung cần thiết, ổ cứng SSD còn giúp tốc độ khởi động, mở đa nhiệm và truyền dữ liệu nhanh như chớp.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp2019155.jpg" width="1200"></p>
        <h3>Khả năng đa nhiệm hoàn hảo</h3>
        <p>Dung lượng RAM có sẵn trên MacBook Pro 15 Touch Bar 2019 là 16GB DDR4 2400MHz (có thể lựa chọn 32gb). Dung lượng RAM&nbsp; lớn giúp cho tốc độ máy vẫn đảm bảo nhanh dù bạn làm việc với những file nặng, hay chạy quá nhiều ứng dụng cùng lúc và thậm chí cả giả lập máy ảo.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp2019156.jpg" width="1200"></p>
        <h3>Apple T2, nâng tầm bảo mật dữ liệu</h3>
        <p>Bạn sẽ hoàn toàn yên tâm về dữ liệu và sự bảo mật cao cấp trên MacBook Pro Touch Bar. Với con chip bảo mật thế hệ thứ hai Apple T2, mọi dữ liệu của bạn, từ quá trình khởi động cho đến hệ thống, âm thanh, ổ cứng SSD đều được mã hóa và lưu trữ an toàn. Hơn nữa, Apple T2 còn kết hợp với Hey Siri để ra lệnh bằng giọng nói một cách hết sức thông minh.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp2019157.jpg" width="1200"></p>
        <h3>Làm việc hiệu quả và năng suất hơn cùng TouchBar</h3>
        <p>TouchBar là một bước tiến vượt trội trên MacBook Pro 15 2019 khi nó thay thế hoàn toàn hàng phím chức năng trước đó, thay đổi thói quen sử dụng laptop của bạn. Với sự tùy chỉnh cảm ứng linh hoạt, TouchBar sẽ tự động thay đổi dựa trên ứng dụng và hành động bạn đang làm một cách thông minh để bạn thao tác tiện dụng nhất. TouchBar còn có thêm các thao tác nhấn giữ, vuốt trượt để thay đổi mọi thứ bạn muốn.Sự thông minh của TouchBar thể hiện khi bạn sử dụng các ứng dụng phổ biến, ví dụ email hay soạn thảo văn bản. Thanh cảm ứng sẽ thay đổi để đưa ra các phím tắt và hành động tùy chỉnh thích hợp. Ngoài ra, cũng có rất nhiều ứng dụng bên thứ ba tương thích với TouchBar. Hãy sử dụng và cảm nhận, bạn sẽ thấy công việc của mình trôi chảy hơn rất nhiều trên MacBook Pro 15 TouchBar 2019.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp2019158.jpg" width="1200"></p>
        <h3>Cảm biến vân tay Touch ID, đăng nhập chỉ sau một lần chạm</h3>
        <p>Chỉ với một lần chạm, bạn đã có thể mở khóa MacBook Pro 15 Touch Bar 2019 ngay lập tức với cảm biến vân tay Touch ID. Không chỉ vậy, Touch ID còn có thể dùng thay cho xác nhận mật khẩu hay thanh toán online, đây là phương thức bảo mật nhanh chóng và an toàn nhất dành cho bạn.</p>
        <p>&nbsp;</p>
        <h3>Tất cả trong một cổng kết nối Thunderbolt 3</h3>
        <p>Thunderbolt 3 trên MacBook Pro là cổng kết nối có tính linh hoạt cực cao với chuẩn USB Type-C phổ biến. Nó có thể truyền dữ liệu, sạc điện, đầu ra video trong một đầu nối duy nhất. Đặc biệt, tốc độ băng thông lên tới 40Gb/s, nhanh gấp đôi Thunderbolt 2. Với 4 cổng kết nối trên MacBook Pro, bạn có thể dễ dàng thực hiện mọi tính năng mình cần để công việc diễn ra một cách trôi chảy.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp20191510.jpg" width="1200"></p>
        <h3>Bàn phím không chỉ êm ái mà còn rất bền bỉ</h3>
        <p>MacBook Pro 15 Touch Bar 2019 tiếp tục sử dụng bàn phím theo cơ chế bướm (butterfly), cho trải nghiệm gõ phím thoải mái cũng như khả năng ổn định phím gấp 4 lần bàn phím truyền thống. Ngoài ra, bàn phím này đã được cài tiến để bền bỉ và gõ ổn định hơn. Kết quả là bạn sẽ có cảm giác gõ êm hơn, gõ cực nhẹ và tiếng động cực nhỏ. Bàn di chuột cảm ứng Force Touch đã thành thương hiệu của MacBook cực kỳ rộng rãi, phản hồi nhanh với mọi cử chỉ của bạn.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/48950_mbp20191511.jpg" width="1200"></p>
    </div>

</div>

