
@{
    ViewData["Title"] = "MacBookPro13";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <div class="nd title_box_scroll_content_2019  text-center">
        <span class="title_box_scroll_2019">Video unbox, review sản phẩm</span>



        <iframe width="1047" height="589" class="video" src="https://www.youtube.com/embed/fUsvpnHaQHI?rel=0&amp;autoplay=0" frameborder="0" allowfullscreen=""></iframe>


    </div>
</div>

