
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <div class="nd title_box_scroll_content_2019 showmore">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm Mainboard ASUS ROG STRIX Z490-E GAMING | HANOICOMPUTER</h2>
        <p>Z490 là Chipset mới nhất của Intel sử dụng cho các bộ vi xử lý Core i thế hệ 10 - Intel Comet Lake-S mới nhất. Với sự nâng cấp vượt trội từ số nhân tới số luồng, đặc biệt trên các bộ vi xử lý như Core i9-10900K hay Core i7-10700K yêu cầu bo mạch chủ phải có sự nâng cấp tương xứng. Nắm rõ nhu cầu này, ASUS đã làm mới dải sản phẩm Z490 của họ từ thiết kế tới hiệu năng.</p>
        <p><img src="https://hanoicomputercdn.com/media/product/52345_mainboard_asus_rog_strix_z490_e_gaming_intel_z490_socket_1200_atx_4_khe_ram_ddr4_33.jpg" alt="Mainboard ASUS ROG STRIX Z490-E GAMING" width="100%"></p>
        <p>ASUS ROG Strix Z490-E Gaming nằm trong Series Strix - Dòng sản phẩm chủ yếu chính phục vụ cho các game thủ yêu cầu hiệu năng cao cùng thiết kế đẹp mắt. Với thiết kế sử dụng phong cách xuyên suốt trên các sản phẩm ASUS như LOGO ROG nổi bật, hay các đường chéo bắt mắt giúp sản phẩm luôn tạo được sự nổi bật trong dàn máy của bạn</p>
        <p><img src="https://hanoicomputercdn.com/media/product/52345_mainboard_asus_rog_strix_z490_e_gaming_intel_z490_socket_1200_atx_4_khe_ram_ddr4_44.jpg" alt="Mainboard ASUS ROG STRIX Z490-E GAMING" width="100%"></p>
        <p><img src="https://hanoicomputercdn.com/media/product/52345_mainboard_asus_rog_strix_z490_e_gaming_intel_z490_socket_1200_atx_4_khe_ram_ddr4_55.jpg" alt="Mainboard ASUS ROG STRIX Z490-E GAMING" width="100%"></p>
        <p><img src="https://hanoicomputercdn.com/media/product/52345_mainboard_asus_rog_strix_z490_e_gaming_intel_z490_socket_1200_atx_4_khe_ram_ddr4_77.jpg" width="100%"></p>
        <p><img src="https://hanoicomputercdn.com/media/product/52345_mainboard_asus_rog_strix_z490_e_gaming_intel_z490_socket_1200_atx_4_khe_ram_ddr4_88.jpg" width="100%"></p>
    </div>
</div>

