
@{
    ViewData["Title"] = "PcAsus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <div class="nd title_box_scroll_content_2019 showmore">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm PC Asus ROG Huracan G21CN(G21CN-D-VN001T) chiến tốt mọi tựa game</h2>
        <h3><strong>Thiết kế chiến binh</strong></h3>
        <p><strong>ASUS ROG Huracan G21CN-VN001T</strong>&nbsp;là một chiếc&nbsp;máy tính&nbsp;Gaming mang phong thái của một chiến binh công nghệ thực thụ với kích thước nhỏ gọn chỉ 13 lít, được xây dựng dựa trên ngôn ngữ thiết kế viễn tưởng cyber-punk. Toàn bộ khung máy được thiết kế góc cạnh kết hợp&nbsp;với những đường gân được chạm khắc tinh tế đem lại sự mạnh mẽ và hầm hố cần thiết. Bên hông phải được trang bị một tấm bảo vệ từ tính (tùy chọn phiên bản cấu hình) để tăng cường khả năng tản nhiệt cũng như nâng cấp sức mạnh hệ thống.</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://hanoicomputercdn.com/media/lib/49333_pc-asus-rog-huracan-g21cn-i5-9400f-8gb-ram-256gb-ssd-rtx2060-win-10-g21cn-d-vn001t_0002_3.jpg"></p>
        <h3><strong>Hiệu năng mạnh mẽ</strong></h3>
        <p>Sở hữu nền tảng xử lý mạnh mẽ bao gồm: vi xử lý Intel thế hệ mới nhất, card đồ họa GeForce RTX, ổ lưu trữ SSD M.2 NVMe...&nbsp;<strong>ASUS ROG Huracan G21CN-VN001T</strong>&nbsp;mang trong mình sức mạnh tối thượng khi chơi game. Để giải phóng hiệu năng mạnh hơn nữa, khi mở nắp máy từ tính bên hông (tùy chọn phiên bản cấu hình) sẽ kích hoạt bộ cảm biến bên trong giúp tăng tốc hiệu năng cho cả CPU và GPU, mang đến khả năng xử lý vượt trội và tốc độ khung hình nhanh hơn.</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://hanoicomputercdn.com/media/lib/49333_pc-asus-rog-huracan-g21cn-i5-9400f-8gb-ram-256gb-ssd-rtx2060-win-10-g21cn-d-vn001t_0001_2.jpg"></p>
        <h3><strong>Khả năng tản nhiệt</strong></h3>
        <p>Không khí mát sẽ được hút vào ở mặt trước, mặt trên và mặt dưới của khung máy, sau làm mát hệ thống thì không khí nóng sẽ được đẩy ra phía sau của máy tính. Để tối ưu khả năng tản nhiệt hơn nữa, việc mở nắp máy từ tính bên hông (tùy chọn phiên bản cấu hình) sẽ tăng cường thêm luồng không khí lưu thông bên trong hệ thống và đảm bảo nhiệt độ không bị quá tải cho các thành phần quan trọng.</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://hanoicomputercdn.com/media/lib/49333_pc-asus-rog-huracan-g21cn-i5-9400f-8gb-ram-256gb-ssd-rtx2060-win-10-g21cn-d-vn001t_0000_1.jpg"></p>
        <p><strong>Khả năng nâng cấp</strong></p>
        <p>Cả hai nắp bên hông máy đều có thể trượt mở để bạn có thể dễ dàng nâng cấp các phần cứng bên trong, đảm bảo sức mạnh cần thiết để sẵn sàng chơi các tựa game mới hiện nay. Các thành phần có thể nâng cấp có thể kể đến như card đồ họa chuyên game, nâng cấp bộ nhớ RAM, ổ lưu trữ SSD tốc độ cao. Hay đơn giản chỉ là nâng cấp dung lượng HDD lớn hơn để bạn có thể lưu trữ game, phim ảnh hoặc dữ liệu quan trọng.</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://hanoicomputercdn.com/media/lib/49333_pc-asus-rog-huracan-g21cn-i5-9400f-8gb-ram-256gb-ssd-rtx2060-win-10-g21cn-d-vn001t_0003_4.jpg"></p>
        <p>&nbsp;</p>
    </div>
</div>
