
@{
    ViewData["Title"] = "PCENTHUSIAST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <div class="nd title_box_scroll_content_2019 showmore">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm PC Enthusiast Gaming Platinum 01 - Cân Hết  Mọi Game</h2>
        <p style="text-align: justify;">Hệ thống <strong>PC Gaming PC ENTHUSIAST GAMING PLATINUM 01</strong> với những thiết bị phần cứng mới nhất như CPU Intel Core i7-10700K, VGA RTX 2080 Super và hệ thống tản nhiệt tiên tiến. Đưa bạn đến những trải nghiệm cao cấp nhất.</p>
        <h3 style="text-align: justify;"><strong>CHIẾC PC NÀY DÀNH CHO AI?</strong></h3>
        <p style="text-align: justify;">Những người muốn tìm tòi cảm giác mới lạ khi sử dụng máy tính. Thực tế nếu chỉ so cấu hình thì với 62 triệu bạn có thể mua được cấu hình mạnh hơn, nhưng để gọi là đẹp, đồng bộ và ổn định thì chắc chắn những bộ PC lắp ráp thông thường sẽ không thể đọ lại PC ENTHUSIAST GAMING PLATINUM 01</p>
        <h3 style="text-align: justify;"><strong>CHI TIẾT CẤU HÌNH</strong></h3>
        <h4 style="text-align: justify;"><strong>CPU Intel Core i7-10700K</strong></h4>
        <p style="text-align: justify;"><em>Bộ vi xử lý đa dụng đáng giá<br></em></p>
        <p style="text-align: justify;"><strong>Số nhân: </strong>8 | <strong>Số luồng: </strong>16 | <strong>Xung nhân cơ bản: </strong><span class="value" data-key="ClockSpeed">3.8GHz</span> | <strong>Xung Turbo: </strong><span class="value" data-key="ClockSpeedMax">5.1</span>GHz | <strong>Ép xung: </strong>Có | <strong>Bộ nhớ đệm: </strong>16MB | <strong>TDP: </strong>95W |</p>
        <p style="text-align: justify;"><img src="https://hanoicomputercdn.com/media/lib/53564_Intel-Core-i7-10700K.jpg"></p>
        <h5 style="text-align: justify;">Điểm mạnh đáng kể</h5>
        <ul style="text-align: justify;">
            <li>Hoạt động vô cùng đáng tin cậy</li>
            <li>Tương thích nhiều game và phần mềm</li>
            <li>Chạy tốt với tất cả các loại VGA</li>
            <li>Có mở khoá hệ số nhân</li>
        </ul>
        <p style="text-align: justify;"><a title="Intel Core i7-10700K" href="../cpu-intel-core-i7-10700k3.8ghz-turbo-up-to-5.1ghz-8-nhan-16-luong-16mb-cache-125w-socket-intel-lga-1200" target="_blank" rel="noopener">Intel Core i7-10700K</a> là ứng cử viên sáng giá cho việc chơi game cao cấp. Nó vượt trội hơn người tiền nhiệm 9700K năm ngoái nhờ công nghệ siêu phân luồng (16 so với 8) trong khi mức giá là tương đương. Tiếp tục giữ cho mình khả năng chạy tốt trên các bo mạch chủ tầm trung như B460. 10700K về cơ bản là phiên bản hoàn thiện hơn xứng đáng để lựa chọn.</p>
        <p style="text-align: justify;">Điểm thoải mái của 10700K còn đến từ mức xung mặc định cao nên kể cả không biết gì về ép xung, bạn vẫn được hưởng lợi từ điều này.</p>
        <p style="text-align: justify;">Lý do tiếp theo mà chúng tôi chọn 10700K cho những dàn máy cao cấp là do khả năng tương thích của nó với các tựa game mới ra mắt gần đây. Intel là NSX có quan hệ tốt với các studio game trên toàn thế giới nên các tựa game luôn chạy rất tốt trên các hệ thống sử dụng nền tảng này.</p>
        <h4 style="text-align: justify;">Card đồ hoạ GIGABYTE RTX 2080 Super AORUS-8G</h4>
        <p style="text-align: justify;"><em>Trơn tru trên độ phân giải 1080p</em></p>
        <p style="text-align: justify;"><strong>CUDA Cores:&nbsp;</strong>3‎072 | <strong>Xung tối đa: </strong>1‎860 MHz | <strong>Bộ nhớ: </strong>8GB GDDR6</p>
        <p style="text-align: justify;"><img src="https://hanoicomputercdn.com/media/lib/53564_Gigabyte-Aorus-GPU.jpg"></p>
        <h5 style="text-align: justify;">Điểm mạnh đáng kể</h5>
        <ul style="text-align: justify;">
            <li>Công nghệ Ray Tracing</li>
            <li>Ngoại hình đẹp</li>
            <li>Hiệu năng cân tốt tất cả các game trên độ phân giải Full HD</li>
            <li>Chiến tốt độ phân giải 2K nếu cần</li>
        </ul>
        <p style="text-align: justify;">Thay thế 2080Ti đắt đỏ, 2080 Super cho hiệu năng tương đương nhưng giá rẻ hơn khá nhiều.</p>
        <p style="text-align: justify;">Với phiên bản RTX 2080 Super của riêng mình, AORUS cung cấp giải pháp làm mát toàn diện cho tất cả các thành phần chính của card đồ họa. Chúng tôi chăm sóc không chỉ GPU mà cả VRAM và MOSFET, để đảm bảo hoạt động ép xung ổn định và tuổi thọ cao hơn. Hệ thống làm mát WINDFORCE STACK 3x 100mm là giải pháp làm mát tiên tiến nhất cung cấp hiệu suất nhiệt hiệu quả nhất cho card đồ họa.</p>
        <p style="text-align: justify;">Ưu tiên cho chất lượng hoàn thiện. Thiết kế mạch của chiếc <a title="card đồ hoạ" href="../vga-card-man-hinh" target="_blank" rel="noopener">card đồ hoạ</a> phải gọi là tuyệt vời với các vật liệu cao cấp, không chỉ tối đa hóa hiệu suất của GPU, mà còn duy trì hoạt động ổn định và lâu dài.</p>
        <h4 style="text-align: justify;">Bo mạch chủ Gigabyte Z490 AORUS ULTRA</h4>
        <p style="text-align: justify;"><em>Z490 hàng đầu trên thị trường</em></p>
        <p style="text-align: justify;"><strong>Chipset: </strong>Z490 | <strong>Slot RAM: </strong>4 | <strong>Hỗ trợ LED: </strong>Full RGB</p>
        <p style="text-align: justify;"><img src="https://hanoicomputercdn.com/media/lib/53564_Gigabyte_Z490_Aorus_Ultra.jpg"></p>
        <h5 style="text-align: justify;">Điểm mạnh đáng kể</h5>
        <ul style="text-align: justify;">
            <li>Khả năng hoạt động đáng tin cậy</li>
            <li>Thương hiệu Aorus cao cấp</li>
            <li>Tốt nhất cho nhu cầu cắm &amp; chạy</li>
        </ul>
        <p style="text-align: justify;">Mainboard Gigabyte Z490 Aorus Ultra là một trong những chiếc mainboard cao cấp mới nhất của Gigabyte trên nền tảng socket 1200. Hỗ trợ các dòng CPU thế hệ thứ 10 của Intel và được trang bị đầy đủ các tính năng nâng cao cũng như khả năng ép xung nhằm thỏa mãn yêu cầu của những game thủ cao cấp.</p>
        <p style="text-align: justify;">Nhờ vào thiết kế tối ưu, Gigabyte Z490 Aorus Ultra có khả năng hỗ trợ RAM rất tốt và ổn định với tốc độ tối đa lên tới 2933MHz (cao hơn khi ép xung), giúp game thủ tận dụng tối đa hiệu năng của các bộ CPU Intel mạnh mẽ.</p>
        <p style="text-align: justify;">BIOS của Gigabyte Z490 AORUS ULTRA cũng thật sự dễ sử dụng, khiến ai cũng có thể làm quen với việc ép xung nhờ sự thân thiện mà Gigabyte đã tạo ra</p>
        <h4 style="text-align: justify;">RAM Gskill Trident Z Neo</h4>
        <p style="text-align: justify;"><em>Hiệu năng và ngoại hình, mỗi thứ một chút !</em></p>
        <p style="text-align: justify;"><strong>Dung lượng</strong>: 2 x 16GB | <strong>Tốc độ</strong>: 3600 MHz | <strong>LED</strong>: Có | <strong>Hiệu điện thế</strong>: 1.35V</p>
        <p style="text-align: justify;"><img src="https://hanoicomputercdn.com/media/lib/53564_Gskill_Trident_Z_Neo.jpg"></p>
        <h5 style="text-align: justify;">Điểm mạnh đáng kể</h5>
        <ul style="text-align: justify;">
            <li>Thương hiệu nổi tiếng</li>
            <li>Ngoại hình đẹp</li>
            <li>Bảo hành dài</li>
            <li>Hiệu năng vừa phải</li>
        </ul>
        <p style="text-align: justify;">Lấy cảm hứng từ các đường đua của những chiếc siêu xe thể thao, Trident Z Neo nổi bật với phần vát dọc theo đỉnh của thiết kế ba xoẹt chéo đặc trưng với phần xiên bất đối xứng để có được vẻ ngoài bóng bẩy và tinh tế.</p>
        <p style="text-align: justify;">Được thiết kế với sự tương phản của nhôm chải đen và bạc sơn tĩnh điện, bộ tản nhiệt hai tông màu Trident Z Neo toát lên sức mạnh và sự táo bạo cho cho hệ thống PC của bạn.</p>
        <p style="text-align: justify;">Được tạo thành từ các IC bộ nhớ được sàng lọc bằng tay và 10 lớp PCB, mỗi thanh ram được tạo ra với tính toàn vẹn tín hiệu tốt nhất để đạt được hiệu suất ép xung tối đa.</p>
        <h4 style="text-align: justify;">SSD WD SN750 Black 500GB</h4>
        <p style="text-align: justify;"><em>An tâm với thương hiệu lớn</em></p>
        <p style="text-align: justify;"><strong>Dung lượng</strong>: 500GB | <strong>Tốc độ</strong>: 3500Mbps (đọc) / 3000Mbps (ghi)</p>
        <p style="text-align: justify;"><img src="https://hanoicomputercdn.com/media/lib/53564_SSD-WD-SN-Black-500GB.jpg"></p>
        <h5 style="text-align: justify;">Điểm mạnh đáng kể</h5>
        <ul style="text-align: justify;">
            <li>Thương hiệu nổi tiếng</li>
            <li>Hiệu năng cao</li>
            <li>Chính sách bảo hành linh động</li>
        </ul>
        <p style="text-align: justify;"><a title="Ổ cứng SSD WD Black 500GB" href="../o-cung-western-black-500gb-m-2-2280-pcie-nvme-3x4-doc-3470mb-s-ghi-2600mb-s-wds500g3x0c" target="_blank" rel="noopener">Ổ cứng SSD WD Black 500GB</a> được thiết kế và sản xuất bởi hãng Western Digital (viết tắt là WD) - là một công ty thiết kế, sản xuất và phát triển thiết bị lưu trữ dữ liệu và là một trong những nhà sản xuất ổ đĩa cứng lớn nhất thế giới có lịch sử lâu đời trong ngành công nghiệp điện tử. Công ty được thành lập vào ngày 23/4/1970 và có trụ sở chính được đặt tại Hoa Kỳ.</p>
        <p style="text-align: justify;">Được thiết kế với chip nhớ flash sử dụng công nghệ 3D NAND được thiết kế bởi WD, các khối bộ nhớ có khả năng chứa 64 lớp và tăng khoảng trống giữa các khối bộ nhớ tránh gặp phải các vấn đề vật lý, ảnh hưởng đến hiệu năng của bộ nhớ. Ngoài ra, Ổ cứng SSD WD Black 500GB M.2 2280 NVMe PCIe (WDS250G3X0C) còn được hỗ trợ với ứng dụng WD Black SSD Dashboard giúp cho người dùng có thể dễ dàng tuỳ chỉnh, tối ưu hoá khả năng hoạt động của SSD sao cho phù hợp với công việc đang làm, cùng với chế độ gaming mode giúp cho các game thủ có thể trải nghiệm đa dạng các tựa game bom tấn mà không phải lo ngại đến các vấn đề màn hình chờ lâu, game crash,....</p>
        <p style="text-align: justify;">Mặc dù là một ổ cứng dành cho game thủ, nhưng SN750 lại không được trang bị đèn LED đẹp mắt, nhưng đây cũng là điều dễ hiểu khi ở mức giá này thứ các bạn tìm đến là sự an tâm và thương hiệu chứ không phải vẻ bề ngoài.</p>
        <h4 style="text-align: justify;">Nguồn Corsair RM Series RM850</h4>
        <p style="text-align: justify;"><em>Chất lượng cao nhất ! Giá thành hợp lý nhất !<br></em></p>
        <p style="text-align: justify;"><em><img src="https://hanoicomputercdn.com/media/lib/53564_Corsair_RM_850.jpg"></em></p>
        <h5 style="text-align: justify;">Điểm mạnh đáng kể</h5>
        <ul id="js-tskt-item" class="product-summary-item-ul d-flex flex-wrap mb-0 content-collapse" style="text-align: justify;">
            <li>Chứng nhận 80 PLUS Gold: hoạt động hiệu quả , tiết kiệm điện năng, ít tiếng ồn và nhiệt độ mát hơn.</li>
            <li>Tự điều chỉnh tiếng ồn khi hoạt động: quạt 135mm với đường cong quạt được tính toán đặc biệt đảm bảo tiếng ồn khi hoạt động được giữ ở mức tối thiểu, ngay cả khi hoạt động tối đa công suất</li>
            <li>Sử dụng tụ điện 105 ° C: tụ điện cấp công nghiệp cho hiệu suất cao và hoạt động ổn định</li>
            <li>Tương thích với chế độ chờ mới nhất của Microsoft: thời gian thức dậy cực nhanh và hiệu quả tải thấp tốt hơn.</li>
            <li>Chế độ quạt Zero RPM: ở mức tải thấp và trung bình Quạt làm mát tắt hoàn toàn cho hoạt động gần như im lặng.</li>
        </ul>
        <p style="text-align: justify;">Ổn định trong suốt quá trình hoạt động là tiêu chí mà bất kỳ bộ nguồn nào cũng hướng đến. Corsair RM Series RM850 đem đến chính xác điều mà hầu hết game thủ cần với hàng loạt những tiêu chuẩn bảo đảm an toàn thời thượng nhất nhưng vẫn giữ được mức giá hợp lý.</p>
        <p style="text-align: justify;">Khả năng kiểm soát quạt thông minh, một thiết kế điều khiển quạt tiên tiến để phát hiện nhiệt và điều chỉnh tốc độ quạt để làm mát tối ưu cùng mức tiêu thụ điện năng thấp, hiệu suất năng lượng cao - thiết kế đặc biệt để đặt cầu Diodes giữa hai bộ lọc EMI để giảm năng lượng khi máy tính ở chế độ Standby cùng nhiều công nghệ đặc biệt khác sẽ khiến các bạn tin tưởng tuyệt đối vào thương hiệu Corsair</p>
        <h4 style="text-align: justify;">Case LIAN-LI PC-O11 DYNAMIC</h4>
        <p style="text-align: justify;"><em>Thời thượng ở tầm giá hấp dẫn</em></p>
        <p style="text-align: justify;"><em><img src="https://hanoicomputercdn.com/media/product/53564_pc_enthusias_gaming_platinum_002.jpg"></em></p>
        <h5 style="text-align: justify;">Điểm mạnh đáng kể</h5>
        <ul style="text-align: justify;">
            <li>Thiết kế tối ưu cho tản nước</li>
            <li>Thương hiệu mạnh</li>
        </ul>
        <p style="text-align: justify;">Dòng sản phẩm PC-O11 DYNAMIC là kết quả của kết hợp độc đáo của LIAN-LI và modder nổi tiếng thế giới DER8AUER. Lấy chính ý tưởng của người dùng và ngôn ngữ đặc trưng của nhà sản xuất đã tạo nên phiên bản thùng máy thời thượng. Đây là lựa chọn đáng cân nhắc đối với nhiều đối tượng khách hàng.</p>
        <p style="text-align: justify;">Nằm trong dòng sản phẩm LIAN-LI PC-O11, phiên bản DYNAMIC sử dụng 3 mặt kính cường lực trong suốt, đặc biệt khi kết hợp với các linh kiện có đèn led RGB sẽ tạo nên hiệu ứng ánh sáng cực kỳ bắt mắt, phô diễn toàn bộ cấu hình bộ máy bên trong. PC-O11 DYNAMIC đảm bảo đáp ứng được yêu cầu thẩm mỹ của những khách hàng khắt khe nhất.</p>
        <h4 style="text-align: justify;">Tản nhiệt Freezemod Rainbow RGB</h4>
        <p style="text-align: justify;"><em>Cao cấp với mức giá chân thật nhất<br></em></p>
        <p style="text-align: justify;"><em><img src="https://hanoicomputercdn.com/media/product/53564_pc_enthusias_gaming_platinum_006.jpg"></em></p>
        <h5 style="text-align: justify;">Điểm mạnh đáng kể</h5>
        <ul style="text-align: justify;">
            <li>Hiệu năng cao cấp với công nghệ đặc biệt từ Freezemod</li>
            <li>Giá thành siêu hợp lý</li>
            <li>Quạt điều tốc cho tuổi thọ cao và vận hành êm ái</li>
        </ul>
        <p style="text-align: justify;">Thiết kế pump mới với các linh kiện nội tại chất lượng để tăng cường độ bền duy trì hiệu suất hoạt động tốt.</p>
        <p style="text-align: justify;">Trải nghiệm hiệu suất làm mát êm ái hơn với thiết kế bánh cánh bơm trong và vỏ bọc cải tiến để gia tăng hiệu năng tản nhiệt và hoạt động yên lặng hơn bằng cách hạ độ ồn, phương pháp làm mát đầy màu sắc với pump tản nước và quạt ARGB tương thích với tất cả các hãng sản xuất bo mạch chủ lớn để điều chỉnh hiệu ứng bằng phần mềm cũng như khả năng tản nhiệt yên lặng hơn.</p>
        <p style="text-align: justify;">Cùng với bộ vỏ cũng đến từ thương hiệu nổi tiếng không kém, sự kết hợp giữa tản nhiệt và bộ case sẽ đem lại sự đồng điệu thu hút ánh nhìn ngay từ lần đầu gặp gỡ.</p>
        <h3 style="text-align: justify;">LỢI ÍCH &amp; CHÍNH SÁCH ĐI KÈM</h3>
        <h4 style="text-align: justify;">Không phải chờ đợi</h4>
        <p style="text-align: justify;">Thông thường để lắp hoàn chỉnh một bộ máy sẽ tiêu tốn của các bạn khoảng từ 30 phút đến 1 giờ đồng hồ trong trường hợp bạn là người sành sỏi, nếu không thời gian còn hơn như vậy. Các bạn có muốn thời gian "chết" trước khi được thật sự sử dụng dàn máy mà mình đã bỏ quá nhiều tiền ra để sở hữu kéo dài không? 100% là không, nên những dàn máy lắp sẵn của HNC sẽ khả dĩ nhất.</p>
        <p style="text-align: justify;">Được lắp sẵn từ đầu chí cuối bởi những bàn tay kỹ thuật lành nghề nhất, những vấn đề vụn vặt sẽ được giải quyết triệt để trước khi giao đến tay khách hàng.</p>
        <h4 style="text-align: justify;">Đổi mới trong 15 ngày đầu nếu có lỗi</h4>
        <p style="text-align: justify;">Áp dụng chính sách giống hệt như việc mua linh kiện rời, nếu trong vòng 15 ngày đầu tiên sử dụng có phát sinh trục trặc, HNC sẽ tiến hành đổi mới ngay linh kiện mới cho bạn để tránh gây ra gián đoạn trong quá trình trải nghiệm sản phẩm.</p>
        <p style="text-align: justify;">Đây là chính sách mà không phải đơn vị bán lẻ nào cũng áp dụng nên sẽ là lợi thế lớn cho khách hàng mỗi khi chọn mua máy tại HNC.</p>
        <h4 style="text-align: justify;">Thời hạn bảo hành lâu dài</h4>
        <p style="text-align: justify;">Không như những chiếc máy lắp sẵn đến từ các hãng lớn chỉ cover người dùng trong 12 tháng. HNC duy trì chính sách bảo hành theo linh kiện cho tất cả những bộ máy xuất xưởng, nghĩa là khách hàng sẽ được hưởng trọn toàn bộ những dịch vụ sau bán hàng theo cam kết của NSX, thường lên đến 3 năm (hoặc hơn) cho CPU, VGA, RAM, Bo mạch chủ.</p>
        <h4 style="text-align: justify;">Cam kết về độ tương thích</h4>
        <p style="text-align: justify;">Được lên cấu hình và kiểm tra qua nhiều bước. Những linh kiện có mặt trong dàn máy của HNC được tinh chỉnh rất kỹ để không một lỗi nhỏ nào về phần cứng cũng như phần mềm có thể làm ảnh hưởng đến trải nghiệm của người dùng.</p>
        <div class="ddict_div" style="top: 7896px; max-width: 120px; left: 441.5px;">
            <img class="ddict_audio" src="chrome-extension://bpggmmljdiliancllaapiggllnkbjocb/img/audio.png">
            <p class="ddict_sentence">trang</p>
        </div>
    </div>
</div>

