
@{
    ViewData["Title"] = "PcHNC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <div class="nd title_box_scroll_content_2019">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm HNC STANDARD WORKSTATION SW31 Cấu hình Mạnh Mẽ</h2>
        <p>Bạn đang tìm kiếm cho mình một cấu hình máy tính tốt để sử dụng các công cụ đồ họa Autocad, 3Dsmax, CAD hay dựng phim như Premiere, After Effect, Lumion... với ngân sách khủng thì STANDARD WORKSTATION SW31 chính là thứ bạn cần.</p>
        <h3>CHIẾC PC NÀY DÀNH CHO AI?</h3>
        <p>Những nhà thiết kế chuyên nghiệp đang cần máy cho những dự án lớn. Những người cần một bộ máy thật khoẻ, đáp ứng được hầu hết nhu cầu làm việc và phải thật bền bỉ qua năm tháng.</p>
        <p>Những tổ chức, doanh nghiệp cần đầu tư và đào tạo cho các nhân sự mũi nhọn.</p>
        <h3><br>POWERED BY ASUS</h3>
        <p><img src="https://hanoicomputercdn.com/media/lib/52933_PBA-banner-2000x720.png"></p>
        <p>Dành cho khách hàng đang tìm kiếm sự hoàn hảo. Đội ngũ nghiên cứu và phát triển hàng đầu trên thế giới của ASUS không ngừng làm việc với kim chỉ nam — Tìm Kiếm Sự Khác Biệt. Phương châm của hãng này đã được khẳng định bằng việc nhận được hơn 3000+ giải thưởng hàng năm. Không chỉ vậy, các đối tác của Powered by ASUS: lựa chọn các kỹ sư hệ thống để tạo nên các bộ máy tuyệt đẹp từ các bộ máy nhỏ nhất đến bộ máy khủng nhất tản nhiệt bằng chất lỏng. Powered by ASUS có nghĩa là độc quyền, hiệu năng và nghệ thuật. Đó là tất cả những điều mà các bạn đang tìm kiếm!</p>
        <h3 style="text-align: left;" align="center">PC STANDARD WORKSTATION SW31</h3>
        <p>Thông số cơ bản :&nbsp;</p>
        <ul id="js-tskt-item">
            <li>CPU: Intel Core i9-10900</li>
            <li>RAM: 32GB</li>
            <li>Ổ cứng: 250GB SSD</li>
            <li>Nguồn : 650W</li>
        </ul>
        <h3>Linh kiện nổi bật trong PC STANDARD WORKSTATION SW31</h3>
        <h4 style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif;">CPU Intel Core i9-10900K<br></span></h4>
        <p>Trang bị nhân đồ hoạ tích hợp, xung đơn nhân ở mức khá tốt, cực phù hợp cho nhu cầu gaming và làm việc. Điểm trừ chỉ là không mở khoá hệ số nhân, nhưng như vậy đã là quá hoàn hảo cho một chiếc i9 được nhiều người mong chờ.</p>
        <p>CPU Intel Core i9-10900 chạy trên socket LGA1200 với 10 lõi và 20 luồng, với xung nhịp cơ bản là 2,8 GHz và xung nhịp tăng lên là 5,2 GHz. Tốc độ này cho phép Intel Core i9-10900 đảm bảo được hiệu suất cực tốt trong các tác vụ làm đồ họa hàng ngày cũng như chơi các tựa game ở độ phân giải cao.</p>
        <p>Không bị cắt giảm bất cứ thành phần chủ chốt nào. Intel Core i9-10900 là người bạn đồng hành đáng tin cậy của người dùng PC tại Việt Nam.</p>
        <h4 style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif;">Bo mạch chủ&nbsp;</span>ASUS ProArt Z490-CREATOR 10G</h4>
        <p>Để tận dụng tối đa sức mạnh của Intel Core i9-10900K, <a title="bo mạch chủ" href="../mainboard-bo-mach-chu" target="_blank" rel="noopener">bo mạch chủ</a> được lựa chọn cho cấu hình này là ASUS ProArt Z490-CREATOR 10G. Thiết kế siêu đẹp dành cho những nhà sáng tạo nội dung và vẫn giữ được khả năng ép xung đỉnh cao, đây là lựa chọn tất yếu cho dàn máy đáp ứng đủ tiêu chí mạnh và gọn gàng.</p>
        <p>Nhờ vào thiết kế tối ưu, ASUS ProArt Z490-CREATOR 10G có khả năng hỗ trợ RAM rất tốt và ổn định với tốc độ tối đa lên tới 2933MHz, giúp những nhà sáng tạo nội dung tận dụng tối đa hiệu năng của các bộ CPU Intel mạnh mẽ, đồng thời cũng có khả năng ép xung RAM khi người dùng muốn thử vận may.</p>
        <p>Về lưu trữ, ASUS ProArt Z490-CREATOR 10G có tích hợp sẵn một khe cắm M.2 PCIe 3.0 hỗ trợ tất cả các dòng M.2 SSD NVME cao cấp với băng thông lên tới 32Gb/s. Không những vậy khe cắm M.2 này còn hỗ trợ các dòng M.2 SSD cũ chỉ hoạt động trên giao thức SATA.</p>
        <p>ASUS ProArt Z490-CREATOR 10G Gaming nằm trong Series ProArt mới - Dòng sản phẩm chủ yếu chính phục vụ cho các nhà sáng tạo yêu cầu hiệu năng cao cùng thiết kế đẹp mắt. Với thiết kế sử dụng phong cách xuyên suốt trên các sản phẩm ASUS như LOGO ProArt nổi bật, hay các đường chéo bắt mắt giúp sản phẩm luôn tạo được sự nổi bật trong dàn máy của bạn&nbsp;&nbsp;</p>
        <h4>Kingston HyperX Predator RGB&nbsp; (32GB)</h4>
        <p style="text-align: justify;">Ở thời điểm hiện tại, 8GB RAM là con số tối thiểu để đáp ứng nhu cầu sử dụng cơ bản kết hợp làm việc. Kingston HyperX Predator RGB từ lâu đã là option được nhiều người hướng đến nhờ thiết kế đơn giản, cắm là chạy kèm với đó là giá cả vô cùng hợp lý.<span style="font-family: verdana, geneva, sans-serif;"><br></span></p>
        <p style="text-align: justify;">Với 32GB RAM trong set-up này, bạn có thể hoàn toàn tự tin trong công việc khi hiện tượng tràn RAM sẽ được hạn chế tối đa. Khả năng cắm và chạy của CORSAIR bấy lâu nay đã được kiểm chứng. Kingston HyperX Predator RGB&nbsp; còn cung cấp khả năng làm đẹp qua hệ thống LED thông qua phần mềm điều chỉnh và ép xung khi có nhu cầu.</p>
        <h4>WD SN750 Black 250GB NVMe 3x4</h4>
        <p>Ổ cứng SSD WD Black được thiết kế chuyên dùng cho các game thủ mang đến tốc độ xử lý, tải nhanh chóng, hỗ trợ cho trải nghiệm gaming ấn tượng với hiệu năng vượt trội. Ổ cứng có yếu tố hình thức M.2 (80 mm) nhỏ gọn, tạo thêm nhiều không gian cho người dùng để có thể cài đặt thêm nhiều linh kiện khác cho PC cùng với thiết kế trơn tru và tông màu đen mạnh mẽ</p>
        <p>Ổ cứng SSD WD Black có hiệu năng vượt trội để quản lý đa tác vụ, trang bị với kết nối M.2 NVMe mạnh mẽ (Non-Volatile Memory Express - bộ nhớ không biến đổi cao tốc) đáp ứng mọi nhu cầu cần thiết của người dùng trong công việc hay là chơi game. Kết nối M.2 NVMe cho ra băng thông vượt trội với Tốc độ đọc tuần tự 3470 MB/s, Tốc độ ghi tuần tự 3000MB/s, Tốc độ đọc ngẫu nhiên 515K IOPS, Tốc độ ghi ngẫu nhiên 560K IOPS cho phép người dùng có thể trải nghiệm SSD có hiệu quả vượt trội hơn so với các SSD SATA khác, cùng với khả năng hỗ trợ đa tác vụ giúp cho người dùng có thể sử nhiều ứng dụng cùng lúc mà vẫn đảm bảo tốc độ truyền tải nhanh chóng.</p>
        <h3>LỢI ÍCH &amp; CHÍNH SÁCH ĐI KÈM</h3>
        <h4>Không phải chờ đợi</h4>
        <p>Thông thường để lắp hoàn chỉnh một bộ máy sẽ tiêu tốn của các bạn khoảng từ 30 phút đến 1 giờ đồng hồ trong trường hợp bạn là người sành sỏi, nếu không thời gian còn hơn như vậy. Các bạn có muốn thời gian "chết" trước khi được thật sự sử dụng dàn máy mà mình đã bỏ quá nhiều tiền ra để sở hữu kéo dài không? 100% là không, nên những dàn máy lắp sẵn của HNC sẽ khả dĩ nhất.</p>
        <p>Được lắp sẵn từ đầu chí cuối bởi những bàn tay kỹ thuật lành nghề nhất, những vấn đề vụn vặt sẽ được giải quyết triệt để trước khi giao đến tay khách hàng.</p>
        <h4>Đổi mới trong 15 ngày đầu nếu có lỗi</h4>
        <p>Áp dụng chính sách giống hệt như việc mua linh kiện rời, nếu trong vòng 15 ngày đầu tiên sử dụng có phát sinh trục trặc, HNC sẽ tiến hành đổi mới ngay linh kiện mới cho bạn để tránh gây ra gián đoạn trong quá trình trải nghiệm sản phẩm.</p>
        <p>Đây là chính sách mà không phải đơn vị bán lẻ nào cũng áp dụng nên sẽ là lợi thế lớn cho khách hàng mỗi khi chọn mua máy tại HNC.</p>
        <h4>Thời hạn bảo hành lâu dài</h4>
        <p>Không như những chiếc máy lắp sẵn đến từ các hãng lớn chỉ cover người dùng trong 12 tháng. HNC duy trì chính sách bảo hành theo linh kiện cho tất cả những bộ máy xuất xưởng, nghĩa là khách hàng sẽ được hưởng trọn toàn bộ những dịch vụ sau bán hàng theo cam kết của NSX, thường lên đến 3 năm (hoặc hơn) cho CPU, VGA, RAM, Bo mạch chủ.</p>
        <h4>Cam kết về độ tương thích</h4>
        <p>Được lên cấu hình và kiểm tra qua nhiều bước. Những linh kiện có mặt trong dàn máy của HNC được tinh chỉnh rất kỹ để không một lỗi nhỏ nào về phần cứng cũng như phần mềm có thể làm ảnh hưởng đến trải nghiệm của người dùng.</p>
    </div>
</div>

