
@{
    ViewData["Title"] = "TaiNghe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <div class="nd title_box_scroll_content_2019">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm Tai nghe Kingston HyperX Cloud II Gaming  Red</h2>
        <p style="text-align: justify;">Trong một vài năm gần đây, dòng sản phẩm HyperX của Kingston đang làm mưa làm gió trên thị trường gaming gear Việt Nam. Vốn chỉ là một thương hiệu chuyên về thiết bị lưu trữ như thẻ nhớ, <a title="Ổ cứng SSD" href="https://www.hanoicomputer.vn/ram-bo-nho-trong/c32.html" target="_blank">SSD</a>, <a title="RAM" href="https://www.hanoicomputer.vn/ram-bo-nho-trong/c32.html" target="_blank">RAM</a>.. những tưởng khi lấn sân sang mảng phụ kiện gaming này, Kingston sẽ gặp phải không ít khó khăn. Nhưng với chất lượng của mình, dòng sản phẩm này của Kingston nhanh chóng tạo dựng được thương hiệu trong cộng đồng game thủ đặc biệt là mảng tai nghe. Mới đây, sản phẩm&nbsp;<strong>Tai nghe Kingston HyperX Cloud II Gaming Red</strong> đã được ra mắt. Đây là một mẫu tai nghe chuyên dụng cho game thủ, và được đánh giá là xứng đáng đồng tiền bát gạo.</p>
        <h3>Thiết kế giữ nguyên so với phiên bản cũ</h3>
        <p style="text-align: justify;">Nếu&nbsp;có theo dõi về tin tức của dòng tai nghe Kingston, anh em có thể thấy rằng&nbsp;<a title="Tai nghe Kingston HyperX Cloud II Gaming" href="https://www.hanoicomputer.vn/tai-nghe-kingston-hyperx-cloud-2-gaming-red/p27422.html">Kingston HyperX Cloud II Gaming</a>&nbsp;có thiết kế không khác mấy so với người anh tiền nhiệm HyperX Cloud. Vốn dĩ thiết kế ban đầu được người dùng đón nhận nhiệt tình, do vậy ở phiên bản này Kingston cũng chả tội gì mà phải thay đổi thiết kế cũ cả. Về mặt cơ bản,&nbsp;Kingston HyperX Cloud II vẫn có Micro có thể tháo rời để tăng tính khả dụng cho từng mục đích của bạn.&nbsp;</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.hanoicomputer.vn/media/lib/tainghekingstonhyperxcloudiigamingred_1.jpg" alt="" width="850" height="478"></p>
        <p style="text-align: justify;"><strong>Cloud II</strong> được trang bị cáp kết nối dài 1m với đầu jack 3.5mm. Nếu cảm thấy chiều dài của dây hơi ngắn, bạn có thể cắm tai nghe qua Sound Card 7.1 được trang bị sẵn kèm với sản phẩm. Với chiếc Sound card USB được Kingston ưu ái cho chiều dài lên tới 2m bạn cộng với 1m cáp từ tai nghe bạn đã có tổng chiều dài sử dụng lên tới 3m, thoải mái cho bạn sử dụng trong không gian chơi game của mình.</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.hanoicomputer.vn/media/lib/tainghekingstonhyperxcloudiigamingred.jpg" alt="" width="753" height="502"></p>
        <p style="text-align: justify;"><strong>HyperX Cloud II</strong> có thiết kế over-ear mang lại cảm giác thoải mái cho người sử dụng khi đôi tai của bạn sẽ nằm gọn bên trong ốp lót tai cũng như hạn chế tối đa ảnh hưởng của tiếng ồn bên ngoài. Với thiết kế khung nhôm và các ốp đệm bằng da không chỉ đem lại cảm giác cứng cáp mà lại vô cùng sang trọng cho sản phẩm này. Và một điểm cộng nữa là việc microphone có thể tháo rời tránh vướng víu khi không phải sử dụng đến mic.</p>
        <p style="text-align: justify;">Trong hộp, tai nghe <strong>Kingston HyperX Cloud II Gaming</strong>&nbsp;còn được khuyến mãi thêm một cặp đệm tai nghe dự phòng với chất liệu giả da siêu mềm. Theo mình đánh giá thì phần ốp tai này của&nbsp;HyperX Cloud II&nbsp;tốt hơn nhiều so với các loại đệm nhung đi kèm với mẫu HyperX Cloud trước đây. Phần đệm trong tai được làm với dạng mút bọt rất thoải mái&nbsp;kể cả khi sử dụng&nbsp;trong thời gian dài. Nói tóm lại, HyperX Cloud II có thiết kế vô cùng đơn giản nhưng vô cùng phù hợp với mọi đối tượng game thủ. Ngoài đệm tai chất lượng, HyperX Cloud II vẫn giữ nguyên thiết kế với phần vỏ bằng nhựa cao cấp và khung kim loại bên trong.&nbsp;Sound card&nbsp;USB cũng được làm bằng nhựa. Nó có một nút để kích hoạt âm thanh 7.1 và các nút điều chỉnh âm lượng riêng cho tai nghe và micrô.</p>
        <h3>Âm thanh vòm Virtual 7.1</h3>
        <p style="text-align: justify;">Soundcard 7.1 chính là điểm khác biệt giữa Cloud và Cloud II. Ở phiên bản Cloud II khi sử dụng kèm chiếc soundcard này sẽ đem lại một trải nghiệm “đã hay lại còn hay hơn” so với việc sử dụng cổng cắm 3.5mm bình thường. Theo như Kingston thì chiếc soundcard 7.1 của hãng tạo ra được tối ưu cho các dòng game đặc biệt là dòng game FPS. Với các tựa game bắn súng cơ bản như PUBG, CS-GO hay&nbsp;Battlefield 4, âm thanh vòm được xử lý qua Sound card này sẽ giúp bạn xác định chính xác vị trí của kẻ thù. Âm thanh của tiếng súng được tạo ra từ&nbsp;HyperX Cloud II nghe rất đanh và chắc chắn nhờ âm bass mạnh mẽ. Các vụ nổ từ bom, hay lựu đạn thì sống động như bạn đang chứng kiến chúng trong thực tế vậy.</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.hanoicomputer.vn/media/lib/tainghekingstonhyperxcloudiigamingred_2.jpg" alt="" width="850" height="397"></p>
        <p style="text-align: justify;">Âm thanh vòm 7.1 của&nbsp;Kingston HyperX Cloud II cho trải nghiệm vô cùng thú vị khi xem phim , đặc biệt là những phim chứa đầy các cảnh hành động hard core. Mô phỏng âm thanh vòm không có nghĩa là cho âm nhạc stereo. Điều đó đồng nghĩa&nbsp;&nbsp;rằng, khả năng&nbsp;nghe&nbsp;nhạc của&nbsp;Cloud II cũng không tệ.&nbsp;Về trải nghiệm nghe nhạc, mình&nbsp;thực sự thích mids punchy, những âm thanh trong dải tần số cao hơn là hơi thiếu.</p>
        <p>&nbsp;</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://hanoicomputercdn.com/media/lib/27422_am-thanh-vom-cua-tai-nghe-kingston-hyperx-cloud-2-gaming-red.jpg" alt="Tai nghe Kingston HyperX Cloud 2 Gaming  Red (KHX-HSCP-RD) trang bị âm thanh vòm 7.1" width="800"></p>
    </div>

</div>

