
@{
    ViewData["Title"] = "TannhietColor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>

    <div class="nd title_box_scroll_content_2019">
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm Tản Nhiệt Khí CoolerMaster Hyper 212 Spectrum , giải pháp tản nhiệt số 1</h2>
        <p>Tản Nhiệt Khí CoolerMaster Hyper 212 Spectrum trang bị đèn led ARGB, đem lại hiệu ứng màu sắc vô cùng độc đáo cho bộ máy của bạn. Quạt SF120R đi cùng với IC điều khiển tốc độ cho độ ồn thấp đồng thời đi kèm khả năng điều chỉnh tốc độ.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/52775_CoolerMasterHyper212Spectrum-1_0001_Layer1.jpg" alt=""></p>
        <h3>Tản Nhiệt Khí CoolerMaster Hyper 212 Spectrum</h3>
        <p>Phần nắp của tản nhiệt được che phủ bởi lớp nhựa đen cho vẻ bề ngoài cứng cáp. 4 ống dẫn nhiệt bên dưới được bố trí tiếp xúc trực tiếp với bề mặt CPU, cho hiệu suất truyền dẫn nhiệt ở mức tối đa.</p>
        <p><img src="https://hanoicomputercdn.com/media/lib/52775_CoolerMasterHyper212Spectrum-1_0000_Layer2.jpg" alt=""></p>
    </div>
</div>

