
@{
    ViewData["Title"] = "Tannhiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
    <h2> Đánh giá sản phẩm Tản nhiệt CPU Cooler Master Hyper 212 LED , giải pháp tản nhiệt số 1</h2>
    <hr class="soft" />
    <h3>Tản nhiệt CPU Cooler Master Hyper 212 LED</h3><br />
    <p>
       Hệ thống lắp đặt đa năng tương thích cho cả AMD và Intel. Thiết kế ngàm lắp đặt đơn giản giúp lắp đặt dễ dàng    </p>
    <br />
    <p>
        <img src="https://hanoicomputercdn.com/media/lib/33693_Hyper-212-led3.jpg" />
    </p>
    <h3>Tản nhiệt CPU Cooler Master Hyper 212 LED</h3><br />
    <p>
        Có thể nâng cấp thêm 1 quạt với ngàm thao tác nhanh
    </p>
    <br />
    <p>
        <img src="https://hanoicomputercdn.com/media/lib/33693_Hyper-212-led2.jpg" />
    </p>
    <h3>Tản nhiệt CPU Cooler Master Hyper 212 LED</h3><br />
    <p>
        Quạt có dải điều tốc rộng và thiết kế đặc biệt, led đỏ
    </p>
    <br />
    <p>
        <img src="https://hanoicomputercdn.com/media/lib/33693_Hyper-212-led1.jpg" />
    </p>
</div>
