
@{
    ViewData["Title"] = "ViewSonic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
        <li><a href="/">Trang Chủ</a> <span class="divider">/</span></li>
        <li class="active">giới thiệu sản phẩm</li>
    </ul>
        <h2 class="ddnb-title spct-title">Đánh giá sản phẩm Màn hình Viewsonic VX2776-SMHD | HANOICOMPUTER</h2>
        <div id="feature1">
            <h3><span>Viewsonic 27"VX2776SMHD LED IPS</span></h3>
            <p><span>Thiết kế bezel frameless</span></p>
            <p><span>Thoát khỏi thiết kế cồng kềnh, và chuẩn bị cho một trải nghiệm frameless.&nbsp;Một mỏng panel siêu 6,6 mm và mỏng 2,2 mm bezel, cung cấp một trải nghiệm hình ảnh đáng kinh ngạc.</span></p>
            <div class="rc-feature"><span><img src="https://www.viewsonic.com/eu/asset-files/images/product-rc/lcd/VX2776-smhd/01_VX76_appearance.jpg" alt=""></span></div>
        </div>
        <hr class="hr-fade">
        <div id="feature2">
            <p><span>SuperClear: Hiệu suất màu tuyệt đẹp &amp; Wide-angle Xem</span></p>
            <p><span>Với công nghệ panel IPS SuperClear, thưởng thức màu sắc chính xác và sống động với mức độ phù hợp của độ sáng cho dù bạn đang nhìn vào màn hình từ trên cao, bên dưới, phía trước, hoặc một bên.</span></p>
            <div class="rc-feature"><span><img src="https://www.viewsonic.com/eu/asset-files/images/product-rc/lcd/VX2776-smhd/02_VX76_superclear.jpg" alt=""></span></div>
        </div>
        <hr class="hr-fade">
        <div id="feature3">
            <p><span>Độ phân giải Full HD 1080p</span></p>
            <p><span>Màn hình này có tính năng Full HD độ phân giải 1920x1080 cho hiệu suất hình ảnh không thể tin nổi pixel-by-pixel.&nbsp;Bạn sẽ trải nghiệm sự rõ ràng tuyệt vời nhất và chi tiết cho dù trong khi làm việc, chơi game, hoặc thưởng thức mới nhất trong ngành giải trí đa phương tiện.</span></p>
            <div class="rc-feature"><span><img src="https://www.viewsonic.com/eu/asset-files/images/product-rc/lcd/VX2776-smhd/03-VA59_Full-HD-1080p-Resolution.jpg" alt=""></span></div>
        </div>
        <hr class="hr-fade">
        <div id="feature4">
            <p><span>khả năng kết nối linh hoạt</span></p>
            <p><span>HDMI, DisplayPort và VGA đầu vào, cho phép người dùng kết nối với máy chơi game, đầu đĩa Blu-ray, máy ảnh kỹ thuật số, máy tính xách tay, hộp truyền hình vệ tinh và các thiết bị độ nét cao khác.</span></p>
            <div class="rc-feature"><span><img src="https://www.viewsonic.com/eu/asset-files/images/product-rc/lcd/VX2776-smhd/04_-flexible-connect.jpg" alt=""></span></div>
        </div>
        <hr class="hr-fade">
        <div id="feature5">
            <p><span>Tăng cường Viewing nghi</span></p>
            <p><span>công nghệ Flicker-Free và Lọc Blue Light giúp loại bỏ căng thẳng mắt từ các giai đoạn xem mở rộng</span></p>
            <div class="rc-feature"><span><img src="https://www.viewsonic.com/eu/asset-files/images/product-rc/lcd/VX2776-smhd/05_Comfort.jpg" alt=""></span></div>
        </div>
        <hr class="hr-fade">
        <div id="feature6">
            <p><span>Low EMI hứa hẹn một trải nghiệm xem an toàn hơn</span></p>
            <p><span>ViewSonic cung cấp sản phẩm độc quyền Low EMI, đảm bảo rằng các sản phẩm của chúng tôi tuân thủ tương ứng quy định quốc gia.&nbsp;Ngày đầu đó, chúng tôi nội cam kết giảm phát thải phóng xạ dựa nội quy onstringent.</span></p>
            <div class="rc-feature"><span><img src="https://www.viewsonic.com/eu/asset-files/images/product-rc/lcd/VX2776-smhd/06_low_emi.jpg" alt=""></span></div>
        </div>
        <hr class="hr-fade">
        <div id="feature7">
            <p><span>Viewmode: Cài đặt trực quan</span></p>
            <p><span>Tính năng độc đáo viewmode ViewSonic cung cấp “Game”, “Movie”, “web”, “Văn bản”, và “Mono” cài đặt trước.&nbsp;Những mẫu thiết lập nâng cao đường cong gamma, nhiệt độ màu, độ tương phản, và độ sáng để cung cấp một trải nghiệm xem được tối ưu hóa cho các ứng dụng màn hình khác nhau.</span></p>
            <div class="rc-feature"><span><img src="https://www.viewsonic.com/eu/asset-files/images/product-rc/lcd/VX2776-smhd/07_ViewMode.jpg" alt=""></span></div>
        </div>
        <hr class="hr-fade">
        <div id="feature8">
            <p><span>Loa stereo kép tích hợp</span></p>
            <p><span>Được thiết kế với loa tích hợp kép, màn hình này kết hợp hiệu quả màn hình tuyệt vời với âm thanh stereo cho một trải nghiệm đa phương tiện nhập vai.</span></p>
            <div class="rc-feature"><span><img src="https://www.viewsonic.com/eu/asset-files/images/product-rc/lcd/VX2776-smhd/08_speakers.jpg" alt=""></span></div>
        </div>
</div>

