@model List<MyWeb.ViewModels.Catalog.Categories.CategoryViewModel>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div id="sidebar" class="span3">
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{
            var parents = Model.Where(x => x.ParentId == null);
        }
        @for (int index = 0; index < parents.Count(); index++)
        {
            var parent = parents.ElementAt(index);
            var children = Model.Where(x => x.ParentId == parent.Id);
            if (children.Any())
            {
                <li class="subMenu open">
                    <a> @parent.Name</a>
                    <ul>
                        @foreach (var items in children)
                        {
                            <li><a class="active" href="/@culture/@_loc["categoryUrl"]/@items.Id"><i class="icon-chevron-right"></i>@items.Name </a></li>

                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="/@culture/@_loc["categoryUrl"]/@parent.Id">@parent.Name</a></li>

            }
        }
    </ul>
    <br />
    <div class="thumbnail">
        <img src="/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
            <h5>Phương thức thanh toán</h5>
        </div>
    </div>
    <div class="thumbnail">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABXUlEQVRIS82Wf1EDMRCFvyoABxQFIKEooBLAAVXQVkHrACSAApAACgAH1AHzOslNepO7za+Za/7pdC7ZL7t5b5MZE43ZRFxSwJfAPTCv2OQP8Ab8+RgWWNB34LYC6pd+AnceboGfgF0DqA/xCLzojwXeAGsD/OWyUHVujLlbQDGrwStgH8CsCjUBSyzLSIavToyx5JuAuyA9wtjxnBc43KkX3dju5cnr0JuABPbtfpNLnQtWYDUGCeoAXDihjTWaaKlLwLkWbwqu9nFOxr+uEcg6Xf91ZyuLydsqfX9UZawMFz1gHyCRfUQ6WTFYmerCCLMcOmfBdTFcBROKwV2TT1TVA/DcAizrKIvUoeqEvbw441Tg0LxksHXb5G4keh/H7DSkzlyg5p+4IXwIxMBaILi8WfvmOvF8CrgkO3PNWYBbCcl6xx2rEU5qJaRscCshHV+R1kjanRWk5Ptk4H80lmAfDSCBeQAAAABJRU5ErkJggg==" />
        <div class="caption">
            <a href="https://localhost:1999" style="font-size: initial; margin: 12px 25px;">
            Tư vấn trực tiếp với Admin
            </a>
        </div>
    </div>
</div>